@charset "utf-8";

.productDetail-container {
  margin: 150px auto;
  padding: 15px;
  box-sizing: border-box;
  max-width: 980px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 4px 5px #ccc;
  background: #fff;
}
.productDetail-container .title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid #000;
}
.productDetail-container .title-container .productDetail-title {
  display: flex;
  font-size: 1.25rem;
  font-family: gsdr;
  color: #eee;
}
.productDetail-container .title-container .productDetail-title.big {
  color: #000;
  font-size: 2rem;	
}
.productDetail-container .contents {
  
}
.productDetail-container .contents .product-img{
  display: block;
  margin: 0 auto;
  /* width: 50%; */
  /* justify-content: center; */
}

.productDetail-container .contents .star {
  margin: 10px auto;
  width: 448px;
}

.productDetail-container .contents .star li {
  height: 24px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}
.productDetail-container .contents .star li:first-child {
  float: right;
  width: 40%;
}
.productDetail-container .contents .star li:last-child {
  width: 60%;
  float: left;
  
}
.productDetail-container .contents .star li img {
  position: absolute;
  right: 0;
}
.productDetail-container .contents .strong {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}
.productDetail-container .contents .title-text {
  margin-top: 10px;
  text-align: center;
  color: #999;
}

.productDetail-container .contents .product-pay {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	color: #a62326;
	font-family: gsdr;
}

.productDetail-container .contents .order-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.productDetail-container .contents .order-btn li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail-container .contents .order-btn li a {
  display: flex;
  width: 350px;
  line-height: 60px;
  border-radius: 10px;
  background-color: #A62326;
  color: #fff;
  font-size: 18px;
  font-family: gsdr;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}
.productDetail-container .contents .order-btn li:hover a {
  text-decoration: underline;
}




.productDetail-container .contents .notice-box {
  width: 100%;
  /* grid-column-end: auto; */
  background-color: #e9e9e9;
  padding: 10px;
  margin: 50px 0;
  border-bottom: 2px solid #000;
}
.productDetail-container .contents .notice-box li {
  font-size: 13px;
}



.productDetail-container .contents .comment-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productDetail-container .contents .comment-box .precaution {
  width: 100%;
  border-bottom: 2px solid #333;
  margin-bottom: 50px;
}
.productDetail-container .contents .comment-box .precaution .pretitle {
  color: #A62326;
}
.productDetail-container .contents .comment-box .precaution .precau {
  background-color: #e9e9e9;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.productDetail-container .contents .comment-box .precaution .precau li {
  font-size: 13px;
}
.productDetail-container .contents .comment-box .precaution .precau li span {
  margin-top: 5px;
  color: #A62326;
  font-weight: bold;
  font-size: 16px;
}
.productDetail-container .contents .comment-box .precaution .precau li .one {
  margin-top: 5px;
  margin-left: 20px;
}
.productDetail-container .contents .comment-box .precaution .precau li .one li {
  list-style: disc;
}







.productDetail-container .contents .comment-box .btn-group {
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  height: 30px !important;
}
.productDetail-container .contents .comment-box .btn-group button {
  margin-left: 10px;
  display: block;
  width: 50px;
  font-size: 15px;
  /* font-weight: bold; */
}
.productDetail-container .contents .comment-box .btn-group button:nth-child(2) {
  width: 80px;
}
.productDetail-container .contents .comment-box .one-comment {
  width: 100%;
  margin-top: 20px;
}
.productDetail-container .contents .comment-box .one-comment li:first-child {
  float: left;
  width: 40%;
  font-weight: bold;
  font-size: 18px;
} 
.productDetail-container .contents .comment-box .one-comment li:last-child {
  float: right;
  width: 60%;
  text-align: right;
  font-size: 13px;
  color: #999;
}



.productDetail-container .contents .form1 {
  width: 100%;
  height: 50px;
  background-color: #e9e9e9;
  border-bottom: 2px solid #333;
  display: flex;
  flex-direction: row;
}
.productDetail-container .contents .form1 .star-catch-cover {
  width: 105px;
  height: 20px;
  margin-top: 15px;
  padding-left: 15px;
  display: flex;
  position: relative;
}
.productDetail-container .contents .form1 .star-catch-cover .star-catch {
  width: 90px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #333;
}
.productDetail-container .contents .form1 .star-catch-cover .star-catch .star_img {
  width: 65px;
  height: 100%;
  margin: 0;
  display: none;
}
.productDetail-container .contents .form1 .star-catch-cover .star-catch .star_img.star {
  display: block;
}
.productDetail-container .contents .form1 .star-catch-cover .star-catch .star_img img {
  display: block;
  margin-top: 2.5px;
  width: 65px;
  height: 12px;
} 
.productDetail-container .contents .form1 .star-catch-cover .star-drop {
  width: 90px;
  height: 85px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  /* background-color: salmon; */
}
.productDetail-container .contents .form1 .star-catch-cover .star-drop li {
  width: 65px;
}
.productDetail-container .contents .form1 .star-catch-cover .star-drop li a {
	display: block;
	height: 15px;
}
.productDetail-container .contents .form1 .star-catch-cover .triangle-cover {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: -1px;
  right: 10px;
}
.productDetail-container .contents .form1 input[type="text"] {
  display: flex;
  width: 77%;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 5px;
}
.productDetail-container .contents .form1 input[type="submit"] {
  margin-left: 15px;
  height: 30px;
  margin-top: 10px;
  width: 50px;
}
.productDetail-container .contents .form2 {
  width: 100%;
}
.productDetail-container .contents .form2 .comment-end {
  width: 100%;
  padding: 20px 5px;
}
.productDetail-container .contents .form2 .comment-end li {
  display: flex;
  height: 30px;
  border-bottom: 1px solid #333;
}
.productDetail-container .contents .form2 .comment-end li span {
  display: flex;
  height: 100%;
}
.productDetail-container .contents .form2 .comment-end li .star-fin {
  width: 12%;
  margin-top: 9px;
}
.productDetail-container .contents .form2 .comment-end li .star-fin img {
  display: block;
  width: 65px;
  height: 12px;
}
.productDetail-container .contents .form2 .comment-end li .cocom {
  width: 63%;
  padding-top: 4px;
  height: 26px;
  font-size: 15px;
}
.productDetail-container .contents .form2 .comment-end li .nik {
  width: 15%;
}
.productDetail-container .contents .form2 .comment-end li .dat {
  width: 10%;
}
