@charset "UTF-8";

section {
	width: 600px;
	height: auto;
	box-sizing: border-box;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	margin: 150px auto 70px;
	padding: 30px;
	color: #222222;
}

.info {
	text-align: center;	
}

.info h3 {
	font-family: gsdr;
	font-size: 1.5rem;
	margin-bottom: 50px;
}

.info img {
	width: 100px;
	height: auto;
}

.info p {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.info a {
	color: #A62326;
}

.info a:hover {
	text-decoration: underline;
}

.sns-auth-container {
	margin: 50px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}

.sns-auth-container > p {
	font-family: gsdr;
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.sns-auth {
	width: 200px;
	height: 200px;
	border: 2px solid #A62326;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sns-auth img {
	width: 100px;
	height: auto;
}

.sns-auth button {
	appearance: none;
	outline: none;
	border: none;
	width: 100px;
	height: 30px;
	background: #A62326;
	color: white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.sns-auth button:hover {
	text-decoration: underline;
}
