@charset "UTF-8";

@font-face {
  font-family: gsdr;
  src: url(../../../../font/a고속도로.ttf) format('truetype');
}

.bg {
	width: 100vw;
	height: 100vh;
	background: url('/resources/img/main-img2.png');
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	opacity: 0.8;
}

.login-container {
	position: absolute;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 0 2px 3px #666;
	background: rgba(255,255,255,0.8);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.title-container img {
	width: 120px;
	height: auto;
	padding: 30px;
	border-radius: 30%;
	background-color: white;
	border: 1px solid #eee;
}

.title-container span {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: gsdr;
  color: #222;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form input {
	outline: none;
	appearance: none;
	width: 400px;
	height: 50px;
	border: 1px solid #666;
	border-radius: 10px;
	padding-left: 10px;
	font-size: 1.125rem;
	margin-bottom: 30px;
}

.login-form input:focus {
	border: 2px solid #96dff4;
}

.login-form button {
	outline: none;
	appearance: none;
	border: none;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	color: white;
	padding: 10px;
	font-size: 1.125rem;
	background: #a62326;
	cursor: pointer;
}

.login-form button:hover {
	text-decoration: underline;
}