@charset "utf-8";

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../../img/subpages/share/sub_bg.jpg') no-repeat center center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	opacity: 0.2;
	z-index: -1;
}

#container .fake-header {
    width: 100%;
    height: 120px;
    visibility: hidden;
}
/**************************** login-form *********************************/

.login-container {
    margin: 150px auto;
    padding: 15px;
    box-sizing: border-box;
    max-width: 600px;
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: 0 4px 5px #ccc;
    background: rgba(255,255,255,0.8);
}
.login-container .title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login-container .title-container .login-title {
    margin-top: 50px;
    font-size: 1.5rem;
    color: #A62326;
}

.login-form {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.login-form form {
    height: auto;
    
}
.login-form form input[type="text"],
.login-form form input[type="password"] {
    outline: none;
    appearance: none;
    border: 1px solid #666;
    display: block;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    margin: 20px auto;
    padding-left: 10px;
    background-color: #fff;
    font-size: 18px;
    color: #222;
} 

.login-form form input[type="text"]:focus,
.login-form form input[type="password"]:focus {
	border: 2px solid #f9a03a;
}
.login-form form input[type="submit"] {
	outline: none;
	appearance: none;
	border: none;
	border-radius: 5px;
    display: block;
    width: 510px;
    height: 50px;
    text-align: center;
    background-color: #A62326;
    color: #fff;
    font-size: 18px;
    margin: 0 auto 20px;
    cursor: pointer;
}
.login-form form input[type="submit"]:hover {
	text-decoration: underline;	
}
.login-form .login-value {
    display: flex;
}
.login-form .login-value .kaka {
    width: 50%;
    display: flex;
    justify-content: center;
    float: left;
}
.login-form .login-value .kaka img {
    width: auto;
    height: 50px;
    cursor: pointer;
}

.login-form .login-value .naver {
    width: 50%;
    display: flex;
    justify-content: center;
    float: right;
}

.login-form .login-value .naver img {
    width: auto;
    height: 50px;
    cursor: pointer;
}

.login-form .login-value > div {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-form form ul {
    max-width: 600px;
    margin: 50px auto;
    height: 30px;
    /* background-color: #fff; */
}
.login-form form ul li {
    width: 50%;
    height: 100%;
    float: left;
}
.login-form form ul li:first-child {
    border-right: 1px solid #000;
    box-sizing: border-box;
}
.login-form form ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}

.btn-box {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.btn-box a {
	color: #666;
	font-size: 18px;
	margin-left: 15px;
}

.btn-box a:before {
	content: "|";
	margin-right: 15px;
}

.btn-box a:first-child:before {
	content: "";
	margin-left: 0;
}

.btn-box a:hover {
	text-decoration: underline;
	color: #A62326;
}

.valid {
	color: red;
	margin: 10px auto;
	padding-left: 30px;
}


.auto-login {
  width: 175px;
  height: 20px;
  position: relative;
  /* bottom: 50px; */
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: bold;
  /* background-color: red; */
}
.auto-login .check-box {
	width: 20px;
	height: 20px;
	background: url("../../../img/subpages/signin/check_off.png") no-repeat center /cover;
	position: absolute;
	left: 30px;
}

.auto-login input[type="checkbox"] {
	height: 13px;
	margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 30px;
}
.auto-login:hover .check-box {
	background: url("../../../img/subpages/signin/check_over.png") no-repeat center /cover;
}
.auto-login .check-box.check {
	background: url("../../../img/subpages/signin/check_on.png") no-repeat center /cover;
}



