@charset "UTF-8";

section {
	max-width: 600px;
	height: auto;
	box-sizing: border-box;
	border: 1px solid #eee;
	box-shadow: 0 4px 5px #ccc;
    background: #fff;
	margin: 150px auto 70px;
	padding: 30px;
	color: #222222;
}

.info {
	text-align: center;	
}

.info h3 {
	font-family: gsdr;
	font-size: 1.5rem;
	margin-bottom: 50px;
}

.info img {
	width: 100px;
	height: auto;
}

.info p {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.info a {
	color: #A62326;
}

.info a:hover {
	text-decoration: underline;
}

.sns-auth-container {
	margin: 50px auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}

.sns-auth-container > p {
	font-family: gsdr;
	font-size: 1.5rem;
	margin-bottom: 30px;
}

.sns-auth {
	width: 200px;
	height: 200px;
	border: 2px solid #A62326;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sns-auth img {
	width: 100px;
	height: auto;
}

.sns-auth button {
	appearance: none;
	outline: none;
	border: none;
	width: 100px;
	height: 30px;
	background: #A62326;
	color: white;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.sns-auth button:hover {
	text-decoration: underline;
}

/* modal start */
.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
}

.modal-content {
	width: 400px;
	height: 500px;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 200px);
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	z-index: 10002;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.modal-content > p {
	font-family: gsdr;
	font-size: 1.5rem;
}

.modal-input {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal-input.code {
	display: none;
}

.modal-input input {
	outline: none;
	appearance: none;
	width: 250px;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 1.125rem;
}

.modal-input > p {
	font-size: 1rem;
	font-weight: 700;
	color: #666;
}

small {
	font-size: 0.875rem;
}

.btn-box {
	display: flex;
	width: 250px;
	justify-content: space-between;
}

.btn-box button {
	outline: none;
	appearance: none;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 1rem;
	background: #A62326;
	color: white;
	cursor: pointer;
}

.btn-box button:hover {
	text-decoration: underline;
}

#sms-confirm {
	outline: none;
	appearance: none;
	border: none;
	padding: 10px;
	border-radius: 5px;
	font-size: 1rem;
	background: #A62326;
	color: white;
	cursor: pointer;
}

#sms-confirm:hover {
	text-decoration: underline;
}

#sms-code {
	width: 200px;
	font-size: 1rem;
	margin-right: 10px;
}

.sms-error {
	display: none;
	color: red;
	font-size: 0.75rem;	
}

.confirm-ok {
	display: none;
	width: 400px;
	height: 400px;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	z-index: 10003;
	border-radius: 10px;
}

.confirm-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.confirm-container p {
	font-family: gsdr;
	font-size: 1.5rem;
}

.confirm-container a {
	text-decoration: none;
	width: 170px;
	height: 20px;
	color: white;
	background-color: #A62326;
	border: none;
	border-radius: 5px;
	padding: 20px;
}

.confirm-container a:hover {
	text-decoration: underline;
}

/* modal end */


/* 반응형 start */
