
# Created by https://www.toptal.com/developers/gitignore/api/java,eclipse,maven,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=java,eclipse,maven,windows

## Tomcat ##
Servers

### Eclipse ###
.metadata


*.class
*.springBeans
# sbteclipse plugin
.target
### Maven ###
target/

*.MF
