@charset "UTF-8";

.search-select {
	width: 200px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 5px;
	padding-left: 5px;
	cursor: pointer;
}

#search-text {
	margin-left: 30px;
	width: 250px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 5px;
	padding-left: 5px;
}

.select-box {
	position: relative;
	display: inline-block;
	align-items: center;
	cursor: pointer;
}

.select-box .arrow-down {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #a62326;
}

.date-picker {
	display: none;
	margin-left: 30px;
}

.calendar-wrapper {
	display: flex;
	margin-top: 30px;
}

.calendar {
	outline: none;
	appearance: none;
	border: 1px solid #222;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 5px;
	width: 200px;
	height: 30px;
}

.period {
	outline: none;
	appearance: none;
	width: 70px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	margin-right: 5px;
}

.period:focus {
	outline: none;
}

.period:hover {
	border: 1px solid #a62326;
}

.period.on {
	background: #a62326;
	color: #fff;
	border: none;
}

.card-header.card-header-primary {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-btn-box {
	display: flex;
	align-items: center;
	width: 380px;
}

.list-btn-box button {
	position: relative;
	outline: none;
	appearance: none;
	width: 170px;
	height: 40px;
	border: none;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 20px;
	font-size: 1rem;
	box-shadow: 0 2px 3px #eee;
	padding-left: 10px;
	font-weight: 600;
	color: #222;
}

.list-btn-box button:active {
	transform: translate(1px, 2px);
}

.list-btn-box button i {
	position: absolute;
	left: 10px;
	font-size: 1.25rem;
	margin-right: 5px;
	color: #666;
	line-height: 20px;
}

#memberList-select {
	width: 170px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 15px;
	font-size: 1rem;
	box-shadow: 0 2px 3px #eee;
	font-weight: 600;
	background: #fff;
	color: #222;
}

.form-control.datetimepicker-input {
	letter-spacing: 3px;
}

.input-group-text i {
	cursor: pointer;
}

.table tbody tr:hover {
	background: #eee;
	cursor: pointer;
}

/* Pagination start */

#pagination {
	display: flex;
	justify-content: center;
}

/* Modal start */

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.4);
}

.profile-container {
	width: 1000px;
	height: 560px;
	position: absolute;
	top: calc(50% - 280px);
	left: calc(50% - 500px);
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	z-index: 10002;
	border-radius: 10px;
}

.btn.btn-primary.pull-right.btn-r {
	margin-right: 15px;
}

.modal .modal-dialog {
	margin-top: 100px;
}

.modal-dialog.modal-signup {
	max-width: 900px;
}

.btn-s {
	width: 100px;
	margin-left: 30px;
}

#detail-content {
	height: 230px;
}