@charset "utf-8";

.signup-container {
  display: block;
  margin: 150px auto;
  padding: 15px;
  box-sizing: border-box;
  max-width: 600px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 4px 5px #ccc;
  background: #fff;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-title {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: gsdr;
  color: black;
}

.signup-form-container {
  margin-top: 50px;
}

.signform-email-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation {
  display: none;
  padding-top: 5px;
  color: red;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 50px;
}

.signup-wrapper span {
  font-size: 1.2rem;
  font-family: gsdr;
  margin-bottom: 15px;
}

.signup-form {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

.signup-form:focus {
  outline: none;
}

.signform-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.signform-btn:disabled {
  display: block;
  background: #ccc;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: gsdr;
}

.signform-btn:focus {
  outline: none;
}

.signform-btn:enabled {
  display: block;
  width: 400px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: gsdr;
  background: #a62326;
  color: white;
}

.signform-btn:enabled:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .signup-container {
    min-width: 320px;
  }
}
