@charset "UTF-8";

.card-body .table tbody tr td a {
	color: #3C4858; 
}

.card-body .table tbody tr td a:hover {
	color: #9c27b0; 
}

.card-body.flex {
	display: flex;
	justify-content: space-between;
}