@charset "utf-8";

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/map.png') no-repeat center center;
	background-size: cover;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	opacity: 0.6;
	z-index: -1;
}

.my-container {
  margin: 120px auto 0;
  padding: 15px;
  box-sizing: border-box;
  /* background: url("https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/map.png") no-repeat center /cover; */
  width: 100%;
  box-shadow: 0 2px 3px #eee;
  display: flex;
}

.nav-cover {
  width: 20%;
  height: 100%;
  display: flex;
}
.nav-cover .nav {
  width: 90%;
  margin: 60px auto 0;
  /* border: 1px solid #ddd; */
}
.nav-cover .nav > ul > li {
  line-height: 50px;
  text-align: center;
  background-color: #38383b;
  border-bottom: 1px solid #fff;
}

.nav-cover .nav > ul > li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-cover .nav > ul > li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.nav-cover .nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.4s;
}
.nav-cover .nav > ul > li  a {
  font-family: maple;
}
.nav-cover .nav > ul > li:hover > a {
  background-color: #a62326;
  color: #fff;
}
.nav-cover .nav > ul > li:first-child > a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-cover .nav > ul > li:last-child > a {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-cover .nav > ul > li > ul > li:hover a {
  text-decoration: underline;
}
.nav-cover .nav > ul > li > ul {
  display: none;
  background-color: #fff;
}

#main {
  width: 80%;
  height: 600px;
}
#main .myTitle {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 10%;
  font-size: 30px;
  font-family: gsdr;
  padding-left: 15px;
  line-height: 50px;
  border-bottom: 2px solid #333;
  /* background-color: #fff;
  border-radius: 10px; */
}
#main .grid-box {
  width: 100%;

}
#main .grid-box .grid {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 50px;
}
#main .grid-box .grid li {
  width: 100%;
  margin-top: 50px;
  border-right: 1px solid #333;
}
#main .grid-box .grid li:last-child {
  border: none;
}
#main .grid-box .grid li .list-title {
  width: 100%;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#main .grid-box .grid li img {
  display: block;
  width: auto;
  height: 128px;
  margin: 10px auto;
}
#main .grid-box .grid li .list-comment {
  font-size: 16px;
  text-align: center;
  color: #333;
  margin-top: 20px;
}
#main .grid-box .grid li input[type="button"] {
  display: block;
  margin: 20px auto;
  padding: 15px;
  cursor: pointer;
  background-color: #38383b;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  appearance: none;
  border-radius: 5px;
}
#main .grid-box .grid li input[type="button"]:hover {
  text-decoration: underline;
}


/* 반응형 start */

@media screen and (max-width: 1180px) {
	
	#main .grid-box .grid {
	  height: 100%;
  	  padding-bottom: 30px;
	}
	#main .grid-box .grid li {
	  height: auto;
	}
	#main .grid-box .grid li img {
	  height: 64px;
	}
	#main .grid-box .grid li .list-comment {
	  font-size: 14px;
	  margin-top: 10px;
	}
	#main .grid-box .grid li input[type="button"] {
	  margin: 10px auto;
	}
}

@media screen and (max-width: 1000px) {
	
	#main .grid-box .grid li img {
	  height: 64px;
	}
	#main .grid-box .grid li .list-comment {
	  font-size: 12px;
	}
}

@media screen and (max-width: 950px) {
	
	#main .grid-box .grid li input[type="button"] {
	  margin: 10px auto;
	  padding: 10px;
	  font-size: 13px;
	}
}


@media screen and (max-width: 880px) {
	
	.my-container {
		position: relative;
	}
		
	.nav-cover {
	  position: absolute;
	  width: 40%;
	  top: 30px;
	  right: 0;
	}
	#main {
		width: 100%;
	}
	#main .grid-box .grid {
	  width: 50%;
	  margin: 0;
	  margin-top: 10px;
	  display: grid;
	  grid-template-columns: auto;
	  background-color: #fff;
	  border-radius: 20px;
	}
	#main .grid-box .grid li {
		border: none;
		margin-top: 20px;
		border-bottom: 1px solid #333;
	}
	#main .grid-box .grid li img{
	  display: none;
	}
}



