@charset "utf-8";

.signup-container {
  display: block;
  margin: 150px auto;
  padding: 15px;
  box-sizing: border-box;
  max-width: 600px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 4px 5px #ccc;
  background: #fff;
}

.title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-title {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: gsdr;
  color: black;
}

.sign-all {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.sign-all-info {
  font-size: 1.2rem;
  font-family: gsdr;
}

.sign-all-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/subpages/agreement/check_none.png) no-repeat center center;
  background-size: 40px;
}

.sign-all-btn.checked {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/subpages/agreement/check_ok.png) no-repeat center center;
  background-size: 40px;
}

.sign-each-wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #eee;
  margin-top: 20px;
  border-radius: 5px;
}

.sign-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.sign-each-info {
  font-size: 1.1rem;
  font-family: gsdr;
}

.sign-each-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/img/subpages/agreement/check_none.png) no-repeat center center;
  background-size: 40px;
}

.sign-each-btn.checked {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/img/subpages/agreement/check_ok.png) no-repeat center center;
  background-size: 40px;
}

.sign-terms-wrapper {
  max-width: 500px;
  height: 400px;
  background: #eee;
  margin: 20px auto 50px;
  border: 1px solid #eee;
}

.sign-terms {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 10px;
  font-size: 15px;
}

.sign-choice-info {
  padding: 20px;
}

.signup-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.signup-info {
  display: block;
  color: red;
  margin-bottom: 5px;
}

.signup-btn:disabled {
  display: block;
  background: #ccc;
  width: 400px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: gsdr;
}

.signup-btn:enabled {
  display: block;
  width: 400px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-family: gsdr;
  background: #a62326;
  color: white;
}

.signup-btn:enabled:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .signup-container {
    min-width: 320px;
  }

  .sign-terms-wrapper {
    min-width: 300px;
  }
}
