<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.admin.memberManagement.dao.IMemberManageMapper">

	<resultMap type="memberVO" id="memberMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberPostcode" column="MEMBER_POSTCODE"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="platFormType" column="MEMBER_PLATFORM_TYPE"/>
		<result property="regDate" column="MEMBER_REG_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="lastLoginDate" column="MEMBER_LAST_LOGIN_DATE"/>
		<result property="memberRePassword" column="MEMBER_REPASSWORD"/>
		<result property="memberEnabled" column="MEMBER_ENABLED"/>
	</resultMap>
	
	<!-- 중복되는 동적 SQL문 처리-->
	<sql id="search">
		<if test="condition == 'id'">
			WHERE MEMBER_ID LIKE CONCAT('%', #{condition}, '%')
		</if>
		<if test="condition == 'name'">
			WHERE MEMBER_NAME LIKE CONCAT('%', #{condition}, '%')
		</if>
	</sql>
 	
	<select id="getMemberList" resultMap="memberMap">
		SELECT *
		FROM MEMBER
		<include refid="search"/>
	</select>	
	

</mapper>