<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.membership.dao.IMembershipMapper">

	<resultMap type="membershipVO" id="membershipMap">
		<id property="membershipId" column="MEMBERSHIP_ID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="leverId" column="LEVEL_ID"/>
		<result property="membershipPoint" column="MEMBERSHIP_POINT"/>
		<collection property="level" resultMap="levelMap"/>
	</resultMap>
	
	<resultMap type="levelVO" id="levelMap">
		<id property="levelId" column="LEVEL_ID"/>
		<result property="levelDiscountRate" column="LEVEL_DISCOUNT_RATE"/>
		<result property="levelCount" column="LEVEL_COUNT"/>
		<result property="levelMinRange" column="LEVEL_MINRANGE"/>
		<result property="levelMaxRange" column="LEVEL_MAXRANGE"/>
		<result property="levelPointRate" column="LEVEL_POINT_RATE"/>
		<result property="levelImg" column="LEVEL_IMG"/>
		<result property="levelName" column="LEVEL_NAME"/>
		<result property="levelDeliveryPay" column="LEVEL_DELIVERYPAY"/>
	</resultMap>

	<!-- 멤버쉽 등록 -->
	<insert id="registerMembership">
		INSERT INTO MEMBERSHIP(MEMBER_ID) VALUES(#{id})
	</insert>
	
	<!-- 멤버쉽 조회 -->
	<select id="getMembershipInfo" resultMap="membershipMap">
		SELECT
		 MEMBERSHIP_ID, MEMBER_ID, mem.LEVEL_ID, MEMBERSHIP_POINT, LEVEL_DISCOUNT_RATE, LEVEL_MINRANGE, LEVEL_MAXRANGE, LEVEL_POINT_RATE, LEVEL_IMG, LEVEL_NAME, LEVEL_DELIVERYPAY
		FROM
		 MEMBERSHIP mem LEFT OUTER JOIN LEVEL lvl on mem.LEVEL_ID = lvl.LEVEL_ID
		WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 등급업 -->
	<update id="upLevel">
		UPDATE MEMBERSHIP SET LEVEL_ID = #{levelId} WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 전체 등급 정보 조회 -->
	<select id="getLevelInfo" resultMap="levelMap">
		SELECT * FROM LEVEL
	</select>
	
	<!-- menu에서 포인트 적립 1%로 적용함. -->
	<select id="getStackPoint">
		UPDATE MEMBERSHIP SET MEMBERSHIP_POINT = MEMBERSHIP_POINT + #{imsipoint} WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- menu에서 사용 적용함. -->
	<select id="getDownPoint">
		UPDATE MEMBERSHIP SET MEMBERSHIP_POINT = MEMBERSHIP_POINT - #{usedPoint} WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 포인트 누적 
	<update id="updatePoint">
		UPDATE MEMBERSHIP SET MEMBERSHIP_POINT = #{} WHERE MEMBER_ID = #{id}
	</update>-->
	
	<!-- 포인트 차감 
	<update id="deductionPoint">
		UPDATE MEMBERSHIP SET MEMBERSHIP_POINT = #{} WHERE MEMBER_ID = #{id}
	</update>-->
	
</mapper>