<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.member.dao.IMemberMapper">

	<resultMap type="memberVO" id="memberMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberPostcode" column="MEMBER_POSTCODE"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="platFormType" column="MEMBER_PLATFORM_TYPE"/>
		<result property="regDate" column="MEMBER_REG_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="lastLoginDate" column="MEMBER_LAST_LOGIN_DATE"/>
		<result property="memberRePassword" column="MEMBER_REPASSWORD"/>
		<result property="memberEnabled" column="MEMBER_ENABLED"/>
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<resultMap type="authVO" id="authMap">
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberAuth" column="MEMBER_AUTH" />
	</resultMap>

	<!-- 이메일 중복 검증 sql -->
	<select id="emailDupCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 이메일로 회원 조회 -->
	<select id="getUserByEmail" resultMap="memberMap">
		SELECT
		 MEMBER_ID, mem.MEMBER_EMAIL, MEMBER_NAME, MEMBER_PASSWORD, MEMBER_BIRTH, MEMBER_PHONE, MEMBER_POSTCODE, MEMBER_ADDRESS, MEMBER_PLATFORM_TYPE, MEMBER_REG_DATE, MEMBER_STATUS, MEMBER_LAST_LOGIN_DATE, MEMBER_REPASSWORD, MEMBER_AUTH
		FROM
		 MEMBER mem LEFT OUTER JOIN MEMBER_AUTH auth on mem.MEMBER_EMAIL = auth.MEMBER_EMAIL
		WHERE mem.MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<!-- 아이디로 회원 조회 -->
	<select id="getUserById" resultMap="memberMap">
		SELECT
		 MEMBER_ID, mem.MEMBER_EMAIL, MEMBER_NAME, MEMBER_PASSWORD, MEMBER_BIRTH, MEMBER_PHONE, MEMBER_POSTCODE, MEMBER_ADDRESS, MEMBER_PLATFORM_TYPE, MEMBER_REG_DATE, MEMBER_STATUS, MEMBER_LAST_LOGIN_DATE, MEMBER_REPASSWORD, MEMBER_AUTH
		FROM
		 MEMBER mem LEFT OUTER JOIN MEMBER_AUTH auth on mem.MEMBER_EMAIL = auth.MEMBER_EMAIL
		WHERE MEMBER_ID = #{id}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateMember">
		UPDATE MEMBER 
		 SET MEMBER_NAME = #{memberName}, MEMBER_PHONE = #{memberPhone}, MEMBER_POSTCODE = #{memberPostcode}, MEMBER_ADDRESS = #{memberAddress}
		WHERE MEMBER_ID = #{memberId};		 
	</update>
	
	<!-- 회원 가입 (사용자) -->
	<insert id="registerMember">
		INSERT INTO 
		 MEMBER(MEMBER_NAME, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_BIRTH, MEMBER_PHONE, MEMBER_POSTCODE, MEMBER_ADDRESS, MEMBER_STATUS, MEMBER_PLATFORM_TYPE)
		VALUES(#{memberName}, #{memberEmail}, #{memberPassword}, #{memberBirth}, #{memberPhone}, #{memberPostcode}, #{memberAddress}, 1, #{platFormType})
	</insert>
	<insert id="registerMemberAuth">
		INSERT INTO MEMBER_AUTH
		VALUES(#{email}, 'ROLE_USER')
	</insert>
	<!-- 회원 가입 (관리자) -->
	<insert id="registerAdmin">
		INSERT INTO 
		 MEMBER(MEMBER_NAME, MEMBER_EMAIL, MEMBER_PASSWORD)
		VALUES(#{memberName}, #{memberEmail}, #{memberPassword})
	</insert>
	<insert id="registerAdminAuth">
		INSERT INTO MEMBER_AUTH
		VALUES(#{email}, 'ROLE_ADMIN')
	</insert>

	<!-- 아이디, 비밀번호 찾기 -->
	<select id="getSMS" resultMap="memberMap">
        SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_PHONE=#{memberPhone}
    </select>
	<select id="getMail" resultMap="memberMap">
		SELECT MEMBER_EMAIL FROM MEMBER WHERE MEMBER_PHONE=#{memberPhone}
	</select>
	<update id="getRepassword" parameterType="memberVO">
		UPDATE MEMBER SET MEMBER_PASSWORD=#{memberPassword} WHERE MEMBER_PHONE=#{memberPhone}
	</update>
	<select id="getPassword" resultMap="memberMap">
		SELECT MEMBER_PASSWORD FROM MEMBER WHERE MEMBER_PHONE=#{memberPhone}
	</select>
	
	<!-- 플랫폼 타입 변경 -->
	<update id="updatePlatForm">
		UPDATE MEMBER SET MEMBER_PLATFORM_TYPE = #{type} WHERE MEMBER_EMAIL = #{email}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteMember">
		DELETE FROM MEMBER WHERE MEMBER_ID = #{id}
	</delete>
	<delete id="deleteMemberAuth">
		DELETE FROM MEMBER_AUTH WHERE MEMBER_EMAIL = #{email}
	</delete>
	
	<!-- 아이디로 비밀번호 찾기 (비밀번호 체크용) -->
	<select id="passwordCheck" resultType="String">
		SELECT MEMBER_PASSWORD FROM MEMBER WHERE MEMBER_ID = #{id}
	</select>
	<!-- 비밀번호 변경 -->
	<update id="changePassword">
		UPDATE MEMBER SET MEMBER_PASSWORD=#{newpassword} WHERE MEMBER_ID = #{id}
	</update>
	<!-- 최종 로그인 수정 -->
	<update id="updateLastLogin">
		UPDATE MEMBER SET MEMBER_LAST_LOGIN_DATE=NOW() WHERE MEMBER_EMAIL = #{email}
	</update>
	
</mapper>