@charset "utf-8";
@font-face {
    font-family: gsdr;
    src: url(../../font/a고속도로.ttf) format('truetype');
}
/* .menu-container > .title-container > .menu-title */

.menu-container {
    max-width: 980px;
    margin: 150px auto;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: 0 4px 5px #ccc;
    background: #fff;
}
.menu-container .title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.menu-container .title-container .menu-title {
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: gsdr;
    color: #000;
}
.menu-container .title-container .title-logo {
    display: flex;
    width: 600px;
    height: auto;
    margin: 0 auto;
}

.menu-container .tab-container {
    margin-top: 50px;
}
.menu-container .tab-container .menu-btn {
    width: 100%;
    height: 100px;
}
.menu-container .tab-container .menu-btn .btn-tab {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    display: flex;
}
.menu-container .tab-container .menu-btn .btn-tab li {
    width: 20%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #000;
    border-right: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-container .tab-container .menu-btn .btn-tab li.select {
    background-color: #A62326;
}
.menu-container .tab-container .menu-btn .btn-tab li:nth-child(5) {
    border-right: 1px solid #000;
}
.menu-container .tab-container .menu-btn .btn-tab li a {
    display: flex;
    font-size: 18px;
    font-family: gsdr;
    color: #000;
}
.menu-container .tab-container .menu-btn .btn-tab li.select a {
	color: #fff;
}


.menu-container .tab-container .menu-content {
    padding: 10px;
    margin-top: 10px;
}
.menu-container .tab-container .menu-content h3 {
    font-family: gsdr;
    font-size: 20px;
    margin-bottom: 20px;
    color: #A62326;
}
.menu-container .tab-container .menu-content ul {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.nu-container .tab-container .menu-content ul li { 
    width: 100%;
    /* height: 300px; */
    display: flex;
    float: left;
    margin-bottom: 10px;
}
.menu-container .tab-container .menu-content ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #white;
    font-family: maple;
    box-shadow: 0 4px 5px #ccc;
    position: relative;
    /* background-color: red; */
} 
.menu-container .tab-container .menu-content ul li a img:first-child {
    display: block;
    width: 100%;
    height: 180px;
    /* margin: 0 auto; */
}
.menu-container .tab-container .menu-content ul li a img:nth-child(2) {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0;
    /* margin: 0 auto; */
}
.menu-container .tab-container .menu-content ul li a span {
    text-align: center;
    display: block;
    color: #000;
    line-height: 30px;
}
.menu-container .tab-container .menu-content ul li a .pay-box {
	height: 30px;
	display: flex;
	justify-content: center;
}