@charset "UTF-8";

.section {
	max-width: 1000px;
  padding-bottom: 50px;
	box-sizing: border-box;
	margin: 150px auto;
	display: flex !important;
	flex-direction: column;
	align-items: center;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
}

.section > p {
	font-family: gsdr;
	font-size: 1.5rem;
	margin: 50px 0;
}

.process-container {
	width: 500px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.process-container div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.process-container div img {
	display: block;
  width: 80px;
	height: 80px;
	border-radius: 30%;
	border: 1px solid #ccc;
	padding: 15px;
	background-color: #eee;
}

.process-container div:first-child img {
	border: 2px solid #a62326;
	background: #fff;
}

.process-container div:first-child span {
  color: #a62326;
}

.process-container div span {
	font-size: 0.95rem;
	margin-top: 10px;
	color: #666;
}

.section table {
	width: 100%;
	height: auto;
}

.btn-box {
	width: 90%;
	height: 60px;
	display: flex;
	justify-content: space-between;
}
.btn-box button {
	outline: none;
	appearance: none;
	width: 300px;
	height: 50px;
	padding: 10px 15px;
	border: 2px solid #a62326;
	border-radius: 15px;
	background: #fff;
	font-size: 1.125rem;
	font-weight: 600;
	color: #222;
	cursor: pointer;
	margin-right: 15px;
}

.btn-box button:last-child {
	margin-right: 0;
}

.btn-box button:last-child {
	border: none;
	background: #a62326;
	color: white;
}

.btn-box button:hover {
	text-decoration: underline;
}




.table-box {
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
}



.total-table {
  width: 90%;
  margin: 50px auto;
  padding: 5px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.total-table .total-title {
  width: 50%;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.total-table .table {
  width: 50%;
  float: left;
}
.total-table .table tbody tr td:first-child {
  color: #444;
}
.total-table .table tbody tr td:last-child {
  text-align: end;
}
.total-table .table tbody tr.final-pay td {
  border-top: 1px solid #a62326 !important;
}
.total-table .table tbody tr td .product-total {
  font-size: 1.25rem;
  color: #ff0000;
  font-weight: bold;
}


.table-box input[type="button"] {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-family: gsdr;
	color: #999;
}
