@charset "utf-8";
@font-face {
    font-family: maple;
    src:url(../font/Maplestory\ Light.ttf) format("truetype");
}




section {
	max-width: 1000px;
  padding-bottom: 50px;
	box-sizing: border-box;
	margin: 150px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
}

section > p {
	font-family: gsdr;
	font-size: 1.5rem;
	margin: 50px 0;
}

.process-container {
	width: 500px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.process-container div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.process-container div img {
	display: block;
  width: 80px;
	height: 80px;
	border-radius: 30%;
	border: 1px solid #ccc;
	padding: 15px;
	background-color: #eee;
}

.process-container div:first-child img {
	border: 2px solid #a62326;
	background: #fff;
}

.process-container div:first-child span {
  color: #a62326;
}

.process-container div span {
	font-size: 0.95rem;
	margin-top: 10px;
	color: #666;
}

.menu-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu-content .menu-text {
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	font-family: maple;
}

.menu-content .pay-box {
	height: 50px;
	display: flex;
	justify-content: center;
}
.menu-content .pay-box > span {
	font-size: 1.75rem;
	font-family: maple;
	color: #ff0000;
	font-weight: bold;
}



section table {
	width: 100%;
	height: auto;
}

.order-container {
	width: 100%;
	height: auto;
}

.btn-box button {
	outline: none;
	appearance: none;
	width: 150px;
	height: 50px;
	padding: 10px 15px;
	border: 2px solid #a62326;
	border-radius: 15px;
	background: #fff;
	font-size: 1.125rem;
	font-weight: 600;
	color: #222;
	cursor: pointer;
	margin-right: 15px;
}

.btn-box button:last-child {
	margin-right: 0;
}

.btn-box button:last-child {
	border: none;
	background: #a62326;
	color: white;
}

.btn-box button:hover {
	text-decoration: underline;
}




.table-box {
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
}



.total-table {
  width: 90%;
  margin: 50px auto;
  padding: 5px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}
.total-table .total-title {
  width: 50%;
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
}
.total-table .table {
  width: 50%;
  float: left;
}
.total-table .table tbody tr td:first-child {
  color: #444;
}
.total-table .table tbody tr td:last-child {
  text-align: end;
}
.total-table .table tbody tr.final-pay td {
  border-top: 1px solid #a62326 !important;
}
.total-table .table tbody tr td .product-total {
  font-size: 1.25rem;
  color: #ff0000;
  font-weight: bold;
}



.order {
  width: 90%;
  background-color: #eee;
}
.order .order-title {
  width: 100%;
  height: 50px;
  line-height: 40px;
  padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 0;
}
.order .order-title .big {
  font-size: 30px;
  color: #a62326;
  font-weight: bold;
  margin-right: 5px;
}
.order .order-title strong {
  font-size: 20px;
  color: #333;
}
.order #or1 {
  padding: 20px;
}
.order #or1 .or1-wrap {
  background-color: #fff;
}
.order #or1 .or1-wrap table tbody tr td:first-child {
  font-size: 18px;
  font-weight: bold;
}
.order #or1 .or1-wrap table tbody tr td input {
  padding-left: 5px;
}
.order #or1 .or1-wrap table tbody tr td input[type="button"] {
  padding-right: 5px;
}
.order #or1 .or1-wrap table tbody tr td input[name="address"] {
  width: 300px;
}


.order table input[type="tel"] {
	width: 100px;
}



#order2 .order-title {
	margin-top: 0;
}
.order #or2 {
  padding: 20px 20px 0;
}
.order #or2 .or2-wrap {
  background-color: #fff;
}
.order #or2 .or2-wrap table tbody tr td:first-child {
  font-size: 18px;
  font-weight: bold;
}
.order #or2 .or2-wrap table tbody tr td input {
  padding-left: 5px;
}
.order #or2 .or2-wrap table tbody tr td input[type="button"] {
  padding-right: 5px;
}
.order #or2 .or2-wrap table tbody tr td input[name="address"] {
  width: 300px;
}
.order #or2 .or2-wrap table tbody tr td input[name="postText"] {
  width: 500px;
}

.total-test {
	width: 90%;
	padding: 20px;
	padding-top: 0;
	background-color: #eee;
}
.total-test .order-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.total-test .order-title .big {
  font-size: 30px;
  color: #a62326;
  font-weight: bold;
  margin-right: 5px;
}
.total-test .order-title strong {
  font-size: 20px;
  color: #333;
}
.total-test table {
	background-color: #fff;
}
.total-test table tbody tr td:first-child {
	font-size: 18px;
  font-weight: bold;
}
.total-test table tbody tr td  {
	font-size: 18px;
}
.total-test table tbody tr td .bold {
	font-weight: bold;
}

.total-test .pay-do {
	width: 100%;
	height: 60px;
}
.total-test .txt-red {
	width: 73%;
	background-color: #a62326;
	font-family: gsdr;
	color: #fff;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	float: left;
}
.total-test .pay-do input[type="submit"] {
	display: block;
	width: 24%;
	height: 60px;
	float: right;
	color: #fff;
	font-size: 20px;
	font-family: gsdr;
	background-color: #a62326;
	border: none;
}



.basket-table input[type="button"] {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-family: gsdr;
	color: #999;
}