@charset "UTF-8";

.search-select {
	width: 200px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 5px;
	padding-left: 5px;
}

#search-text {
	margin-left: 30px;
	width: 250px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 5px;
	padding-left: 5px;
}

.select-box {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.select-box .arrow-down {
	position: absolute;
	top: 0;
	right: 10px;
	color: #a62326;
}

.date-picker {
	display: none;
	margin-left: 30px;
}

.calendar-wrapper {
	display: flex;
}

.period {
	outline: none;
	appearance: none;
	width: 70px;
	height: 30px;
	border: 1px solid #222;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	margin-right: 5px;
}

.period:focus {
	outline: none;
}

.period:hover {
	border: 1px solid #a62326;
}

.period.on {
	background: #a62326;
	color: #fff;
	border: none;
}

.card-header.card-header-primary {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-btn-box {
	display: flex;
	align-items: center;
}

#excel-down {
	outline: none;
	appearance: none;
	width: 170px;
	height: 40px;
	border: none;
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 20px;
	font-size: 1rem;
}

#excel-down i {
	font-size: 1.125rem;
	margin-right: 5px;
}

#memberList-select {
	width: 170px;
	height: 40px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 10px;
	font-size: 1rem;
}

.form-control.datetimepicker-input {
	letter-spacing: 3px;
}
