<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.admin.adminManagement.dao.IAdminManagementMapper">

	<resultMap type="memberVO" id="memberMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberPostcode" column="MEMBER_POSTCODE"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="platFormType" column="MEMBER_PLATFORM_TYPE"/>
		<result property="regDate" column="MEMBER_REG_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="lastLoginDate" column="MEMBER_LAST_LOGIN_DATE"/>
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<resultMap type="authVO" id="authMap">
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberAuth" column="MEMBER_AUTH" />
	</resultMap>
	
	<sql id="search">
		WHERE MEMBER_AUTH IN ('ROLE_HEAD', 'ROLE_ADMIN')
		<if test="condition == 'id'">
			AND mem.MEMBER_EMAIL LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="condition == 'name'">
			AND MEMBER_NAME LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</sql>
	
	<select id="getAdminList" resultMap="memberMap">
		SELECT 
			MEMBER_ID,
			MEMBER_NAME,
			mem.MEMBER_EMAIL,
			MEMBER_REG_DATE,
			MEMBER_AUTH,
			MEMBER_BIRTH,
			MEMBER_LAST_LOGIN_DATE,
			CASE
		        WHEN MEMBER_PHONE IS NULL THEN "No Phone"
		        ELSE MEMBER_PHONE
		    END as MEMBER_PHONE,
			CASE
		        WHEN MEMBER_POSTCODE IS NULL THEN "No Postcode"
		        ELSE MEMBER_POSTCODE
		    END as MEMBER_POSTCODE,
			CASE
		        WHEN MEMBER_ADDRESS IS NULL THEN "No Address"
		        ELSE MEMBER_ADDRESS
		    END as MEMBER_ADDRESS
		FROM MEMBER mem LEFT OUTER JOIN MEMBER_AUTH auth on mem.MEMBER_EMAIL = auth.MEMBER_EMAIL
		<include refid="search"/>
		ORDER BY MEMBER_ID DESC
	</select>	
	
	<select id="passwordCheck" resultType="String">
		SELECT MEMBER_PASSWORD FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	<update id="changePassword">
		UPDATE MEMBER SET MEMBER_PASSWORD=#{adminNewPwd} WHERE MEMBER_EMAIL = #{memberEmail}
	</update>
</mapper>