<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.admin.mainManagement.dao.IMainMapper">
	
	<select id="getRegCount" resultType="Integer">
		SELECT COUNT(*) from MEMBER WHERE DATE_FORMAT(MEMBER_REG_DATE, '%Y-%m-%d') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y-%m-%d');
	</select>

	<select id="getDailyVisitInfo" resultType="dailyVO">
		SELECT DATE_FORMAT(VISIT_TIME,'%Y-%m') DAILY, COUNT(*) VISIT 
		FROM VISITOR 
		WHERE VISIT_TIME BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() 
		GROUP BY DAILY 
		ORDER BY DAILY
	</select>
	
	<select id="getDailySalesInfo" resultType="dailyVO">
		SELECT DATE_FORMAT(ORDERS_ORDER_DATE,'%Y-%m') DAILY, SUM(ORDERS_PAYMENT) SALES 
		FROM ORDERS 
		WHERE ORDERS_ORDER_DATE BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() 
		GROUP BY DAILY 
		ORDER BY DAILY;
	</select>
	
	<select id="getDailyOrderInfo" resultType="dailyVO">
		SELECT DATE_FORMAT(ORDERS_ORDER_DATE,'%Y-%m') DAILY, COUNT(*) ORDERS 
		FROM ORDERS 
		WHERE ORDERS_ORDER_DATE BETWEEN DATE_ADD(NOW(), INTERVAL -1 WEEK) AND NOW() 
		GROUP BY DAILY 
		ORDER BY DAILY;
	</select>
	
	<select id="getOrderCount" resultType="Integer">
		SELECT COUNT(*) from ORDERS WHERE DATE_FORMAT(ORDERS_ORDER_DATE, '%Y-%m-%d') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y-%m-%d');
	</select>
	
	<select id="getSales" resultType="Integer">
		SELECT SUM(ORDERS_PAYMENT) ORDERS_PAYMENT from ORDERS WHERE DATE_FORMAT(ORDERS_ORDER_DATE, '%Y-%m-%d') = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -1 DAY), '%Y-%m-%d');
	</select>
</mapper>