<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.admin.orderManagement.dao.IOrderManagementMapper">

	<resultMap type="orderVO" id="orderVO">
		<result property="ordersId" column="ORDERS_ID" />
		<result property="memberId" column="MEMBER_MEMBER_ID" />
		<result property="ordersOrderDate" column="ORDERS_ORDER_DATE" />
		<result property="ordersPayment" column="ORDERS_PAYMENT" />
		<result property="ordersState" column="ORDERS_STATE" />
		<result property="ordersAddress" column="ORDERS_ADDRESS" />
		<result property="ordersPostcode" column="ORDERS_POSTCODE" />
		<result property="ordersReceiver" column="ORDERS_RECEIVER" />
		<result property="ordersDelivery" column="ORDERS_DELIVERY" />
		<result property="ordersPhone" column="ORDERS_PHONE" />
		<result property="ordersContent" column="ORDERS_CONTENT" />	
		<result property="ordersMerchantUid" column="ORDERS_MERCHANT_UID" />	
		<result property="ordersProductName" column="ORDERS_PRODUCT_NAME" />	
		<result property="ordersAmount" column="ORDERS_AMOUNT" />
		<result property="ordersMemberEmail" column="ORDERS_MEMBER_EMAIL" />
		<result property="ordersUsePoint" column="ORDERS_USE_POINT" />
		<result property="ordersProductPay" column="ORDERS_PRODUCT_PAY" />
		<result property="ordersSal" column="ORDERS_SAL" />
		<collection property="memberVO" resultMap="memberVO" />
	</resultMap>
	
	<resultMap type="ordersDetailVO" id="ordersDetailVO">
		<result property="ordersDetailId" column="ORDERS_DETAIL_ID" />
		<result property="ordersId" column="ORDERS_ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="productId" column="PRODUCT_ID" />
		<result property="productImageId" column="PRODUCT_IMAGE_ID" />
		<result property="ordersDetailAmount" column="ORDERS_DETAIL_AMOUNT" />
		<result property="ordersDetailName" column="ORDERS_DETAIL_NAME" />
		<result property="ordersDetailPrice" column="ORDERS_DETAIL_PRICE" />
		<result property="ordersDetailState" column="ORDERS_DETAIL_STATE" />
		<result property="ordersDetailImagePath" column="ORDERS_DETAIL_IMAGE_PATH" />	
	</resultMap>

	<resultMap type="memberVO" id="memberVO">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<select id="getOrderList" resultMap="orderVO">
		SELECT * FROM ORDERS
	</select>
	
	<select id="getorderDetail" resultMap="orderVO">
		SELECT A.ORDERS_ID,
		A.ORDERS_ORDER_DATE,
		A.ORDERS_STATE,
		A.ORDERS_RECEIVER,
		A.ORDERS_PRODUCT_NAME,
        A.ORDERS_AMOUNT,
        A.ORDERS_PAYMENT,
        A.ORDERS_MEMBER_EMAIL,
        A.ORDERS_ADDRESS,
        A.ORDERS_POSTCODE,
        A.ORDERS_DELIVERY,
        A.ORDERS_PHONE,
        A.ORDERS_USE_POINT,
        A.ORDERS_PRODUCT_PAY,
        A.ORDERS_SAL,
		B.MEMBER_ID,
        B.MEMBER_NAME
		FROM ORDERS A INNER JOIN
		MEMBER B ON (A.MEMBER_MEMBER_ID = B.MEMBER_ID) WHERE A.ORDERS_ID = #{id};
	</select>
	
	<select id="getorderDetailListTwo" resultMap="ordersDetailVO">
		SELECT * FROM ORDERS_DETAIL WHERE ORDERS_ID = #{ordersId};
	</select>
	
</mapper>
