<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.product.dao.ProductMapper">

	<resultMap type="productVO" id="productVO">
		<id property="productId" column="PRODUCT_ID" />
		<result property="productTitleName" column="PRODUCT_TITLE_NAME" />
		<result property="productSubName" column="PRODUCT_SUB_NAME" />
		<result property="productContent" column="PRODUCT_CONTENT" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productregDate" column="PRODUCT_REG_DATE" />
		<result property="productRemainingAmount" column="PRODUCT_REMAINING_AMOUNT" />
		<result property="productReceivedAmount" column="PRODUCT_RECEIVED_AMOUNT" />
		<result property="productReceivedPrice" column="PRODUCT_RECEIVED_PRICE" />
		<result property="productLimitAmount" column="PRODUCT_LIMIT_AMOUNT" />
		<result property="productStartDay" column="PRODUCT_START_DAY" />
		<result property="productCheckCount" column="PRODUCT_CHECK_COUNT" />
		<result property="productState" column="PRODUCT_STATE" />
		<result property="productNew" column="PRODUCT_NEW" />
		<result property="productOnoff" column="PRODUCT_ONOFF" />
		<collection property="productImageVO" resultMap="productImageVO" />
		<collection property="productPrecautionsVO" resultMap="productPrecautionsVO" />
	</resultMap>

	<resultMap type="productImageVO" id="productImageVO">
		<result property="productImageId" column="PRODUCT_IMAGE_ID" />
		<result property="productProductId" column="PRODUCT_PRODUCT_ID" />
		<result property="productImageName" column="PRODUCT_IMAGE_NAME" />
		<result property="productImageExtention" column="PRODUCT_IMAGE_EXTENTION" />
		<result property="productImageRoute" column="PRODUCT_IMAGE_ROUTE" />
	</resultMap>
	
	<resultMap type="productPrecautionsVO" id="productPrecautionsVO">
		<result property="productPrecautionsId" column="PRODUCT_PRECAUTIONS_ID" />
		<result property="productPrecautionsTitle" column="PRODUCT_PRECAUTIONS_TITLE" />
		<result property="productPrecautionsContent" column="PRODUCT_PRECAUTIONS_CONTENT" />
		<result property="productPrecautionsContentName1" column="PRODUCT_PRECAUTIONS_CONTENT_NAME1" />
		<result property="productPrecautionsContent1" column="PRODUCT_PRECAUTIONS_CONTENT1" />
		<result property="productPrecautionsContentName2" column="PRODUCT_PRECAUTIONS_CONTENT_NAME2" />
		<result property="productPrecautionsContent2" column="PRODUCT_PRECAUTIONS_CONTENT2" />
		<result property="productPrecautionsContentName3" column="PRODUCT_PRECAUTIONS_CONTENT_NAME3" />
		<result property="productPrecautionsContent3" column="PRODUCT_PRECAUTIONS_CONTENT3" />
		<result property="productPrecautionsOnoff" column="PRODUCT_PRECAUTIONS_ONOFF" />
	</resultMap>
	<resultMap type="productScoreVO" id="productScoreVO">
		<result property="scoreImageId" column="SCORE_IMAGE_ID" />
		<result property="scoreImageName" column="SCORE_IMAGE_NAME" />
		<result property="scoreImageExtention" column="SCORE_IMAGE_EXTENTION" />
		<result property="scoreImageRoute" column="SCORE_IMAGE_ROUTE" />
		<result property="scoreImageOnoff" column="SCORE_IMAGE_ONOFF" />
		<collection property="productVO" resultMap="productVO" />
	</resultMap>

	<select id="getproductnewList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		WHERE A.PRODUCT_NEW=1;
	</select>
	<select id="getcoffeeList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=1;
	</select>
	<select id="getcoffeewearList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=2;
	</select>
	<select id="getgiftList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=3;
	</select>
	<select id="getproductDetail" resultMap="productVO" parameterType="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_SUB_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_CONTENT,
		A.PRODUCT_ONOFF,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE,	
		C.PRODUCT_PRECAUTIONS_ID,
		C.PRODUCT_PRECAUTIONS_TITLE,
		C.PRODUCT_PRECAUTIONS_CONTENT,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME1,
		C.PRODUCT_PRECAUTIONS_CONTENT1,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME2,
		C.PRODUCT_PRECAUTIONS_CONTENT2,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME3,
		C.PRODUCT_PRECAUTIONS_CONTENT3,
		C.PRODUCT_PRECAUTIONS_ONOFF		
		FROM PRODUCT A INNER JOIN
		PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		INNER JOIN
		PRODUCT_PRECAUTIONS C ON (A.PRODUCT_ONOFF = C.PRODUCT_PRECAUTIONS_ONOFF) 
		WHERE A.PRODUCT_ID=${productId};
	</select> 
<!--
	<select id="getproductprecautionsDetail" resultMap="productVO" >
		SELECT A.PRODUCT_ID,
		A.PRODUCT_ONOFF,
		C.PRODUCT_PRECAUTIONS_ID,
		C.PRODUCT_PRECAUTIONS_TITLE,
		C.PRODUCT_PRECAUTIONS_CONTENT,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME1,
		C.PRODUCT_PRECAUTIONS_CONTENT1,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME2,
		C.PRODUCT_PRECAUTIONS_CONTENT2,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME3,
		C.PRODUCT_PRECAUTIONS_CONTENT3,
		C.PRODUCT_PRECAUTIONS_ONOFF
		FROM PRODUCT A , PRODUCT_PRECAUTIONS C ON WHERE A.PRODUCT_ONOFF = C.PRODUCT_PRECAUTIONS_ONOFF
	</select>
-->

	
<!--	
	<select id="getscoreDetail" resultMap="productScoreVO">
		SELECT D.SCORE_IMAGE_ID,
		D.PRODUCT_IMAGE_NAME,
		D.PRODUCT_IMAGE_EXTENTION,
		D.PRODUCT_IMAGE_ROUTE,
		A.PRODUCT_ONOFF
		FROM SCORE_IMAGE D INNER JOIN
		PRODUCT A ON (D.SCORE_IMAGE_ONOFF = A.PRODUCT_ONOFF) WHERE D.SCORE_IMAGE_ID=${scoreImageId};
	</select>
-->
	
	

</mapper>