<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.product.dao.IProductMapper">

	<resultMap type="productVO" id="productVO">
		<id property="productId" column="PRODUCT_ID" />
		<result property="productTitleName" column="PRODUCT_TITLE_NAME" />
		<result property="productSubName" column="PRODUCT_SUB_NAME" />
		<result property="productContent" column="PRODUCT_CONTENT" />
		<result property="productPrice" column="PRODUCT_PRICE" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="productRegDate" column="PRODUCT_REG_DATE" />
		<result property="productReceivedAmount" column="PRODUCT_RECEIVED_AMOUNT" />
		<result property="productReceivedPrice" column="PRODUCT_RECEIVED_PRICE" />
		<result property="productLimitAmount" column="PRODUCT_LIMIT_AMOUNT" />
		<result property="productStartDay" column="PRODUCT_START_DAY" />
		<result property="productCheckCount" column="PRODUCT_CHECK_COUNT" />
		<result property="productState" column="PRODUCT_STATE" />
		<result property="productNew" column="PRODUCT_NEW" />
		<result property="productOnoff" column="PRODUCT_ONOFF" />
		<collection property="productImageVO" resultMap="productImageVO" />
		<collection property="productPrecautionsVO" resultMap="productPrecautionsVO" />
	<!--	<collection property="reviewBoardVO" resultMap="reviewBoardVO" />
		<collection property="memberVO" resultMap="memberVO" /> -->
	</resultMap>

	<resultMap type="productImageVO" id="productImageVO">
		<result property="productImageId" column="PRODUCT_IMAGE_ID" />
		<result property="productProductId" column="PRODUCT_PRODUCT_ID" />
		<result property="productImageName" column="PRODUCT_IMAGE_NAME" />
		<result property="productImageExtention" column="PRODUCT_IMAGE_EXTENTION" />
		<result property="productImageRoute" column="PRODUCT_IMAGE_ROUTE" />
	</resultMap>
	
	<resultMap type="productPrecautionsVO" id="productPrecautionsVO">
		<result property="productPrecautionsId" column="PRODUCT_PRECAUTIONS_ID" />
		<result property="productPrecautionsTitle" column="PRODUCT_PRECAUTIONS_TITLE" />
		<result property="productPrecautionsContent" column="PRODUCT_PRECAUTIONS_CONTENT" />
		<result property="productPrecautionsContentName1" column="PRODUCT_PRECAUTIONS_CONTENT_NAME1" />
		<result property="productPrecautionsContent1" column="PRODUCT_PRECAUTIONS_CONTENT1" />
		<result property="productPrecautionsContentName2" column="PRODUCT_PRECAUTIONS_CONTENT_NAME2" />
		<result property="productPrecautionsContent2" column="PRODUCT_PRECAUTIONS_CONTENT2" />
		<result property="productPrecautionsContentName3" column="PRODUCT_PRECAUTIONS_CONTENT_NAME3" />
		<result property="productPrecautionsContent3" column="PRODUCT_PRECAUTIONS_CONTENT3" />
		<result property="productPrecautionsOnoff" column="PRODUCT_PRECAUTIONS_ONOFF" />
	</resultMap>
<!--	
	<resultMap type="reviewBoardVO" id="reviewBoardVO">
		<id property="reviewBoardId" column="REVIEW_BOARD_ID" />
		<result property="memberMemberId" column="MEMBER_MEMBER_ID" />
		<result property="productProductId" column="PRODUCT_PRODUCT_ID" />
		<result property="menuMenuId" column="MENU_MENU_ID" />
		<result property="reviewBoardWriter" column="REVIEW_BOARD_WRITER" />
		<result property="reviewBoardContent" column="REVIEW_BOARD_CONTENT" />
		<result property="reviewBoardRating" column="REVIEW_BOARD_RATING" />
		<result property="reviewBoardType" column="REVIEW_BOARD_TYPE" />
		<result property="reviewBoardRegDate" column="REVIEW_BOARD_REG_DATE" />
		<result property="reviewBoardImageRoute" column="REVIEW_BOARD_IMAGE_ROUTE" />
	</resultMap>
	
	<resultMap type="memberVO" id="memberVO">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberPostcode" column="MEMBER_POSTCODE"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="platFormType" column="MEMBER_PLATFORM_TYPE"/>
		<result property="regDate" column="MEMBER_REG_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="lastLoginDate" column="MEMBER_LAST_LOGIN_DATE"/>
		<result property="memberRePassword" column="MEMBER_REPASSWORD"/>
		<result property="memberEnabled" column="MEMBER_ENABLED"/>
	</resultMap>
-->
	<select id="getproductnewList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_STATE,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		WHERE A.PRODUCT_NEW=1 AND A.PRODUCT_STATE != 3;
	</select>
	<select id="getcoffeeList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_STATE,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=1 AND A.PRODUCT_STATE != 3;
	</select>
	<select id="getcoffeewearList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_STATE,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=2 AND A.PRODUCT_STATE != 3;
	</select>
	<select id="getgiftList" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_STATE,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE
		FROM PRODUCT A INNER
		JOIN PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID) WHERE
		A.PRODUCT_TYPE=3 AND A.PRODUCT_STATE != 3;
	</select>
	<select id="getproductDetail" resultMap="productVO" parameterType="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_SUB_NAME,
		A.PRODUCT_CONTENT,
		A.PRODUCT_PRICE,
		A.PRODUCT_TYPE,
		A.PRODUCT_REG_DATE,
		A.PRODUCT_RECEIVED_AMOUNT,
		A.PRODUCT_RECEIVED_PRICE,
		A.PRODUCT_LIMIT_AMOUNT,
		A.PRODUCT_START_DAY,
		A.PRODUCT_CHECK_COUNT,
		A.PRODUCT_STATE,
		A.PRODUCT_NEW,
		A.PRODUCT_ONOFF,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE,
		C.PRODUCT_PRECAUTIONS_ID,
		C.PRODUCT_PRECAUTIONS_TITLE,
		C.PRODUCT_PRECAUTIONS_CONTENT,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME1,
		C.PRODUCT_PRECAUTIONS_CONTENT1,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME2,
		C.PRODUCT_PRECAUTIONS_CONTENT2,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME3,
		C.PRODUCT_PRECAUTIONS_CONTENT3,
		C.PRODUCT_PRECAUTIONS_ONOFF
		FROM PRODUCT A INNER JOIN
		PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		INNER JOIN 
		PRODUCT_PRECAUTIONS C ON (A.PRODUCT_ONOFF = C.PRODUCT_PRECAUTIONS_ONOFF)
        WHERE A.PRODUCT_ID=#{productId} AND A.PRODUCT_STATE != 3
	</select> 
	 <!-- 댓글 목록 -->
  <!--   
  <select id="getproductDetail" resultMap="productVO" parameterType="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_SUB_NAME,
		A.PRODUCT_CONTENT,
		A.PRODUCT_PRICE,
		A.PRODUCT_TYPE,
		A.PRODUCT_REG_DATE,
		A.PRODUCT_REMAINING_AMOUNT,
		A.PRODUCT_RECEIVED_AMOUNT,
		A.PRODUCT_RECEIVED_PRICE,
		A.PRODUCT_LIMIT_AMOUNT,
		A.PRODUCT_START_DAY,
		A.PRODUCT_CHECK_COUNT,
		A.PRODUCT_STATE,
		A.PRODUCT_NEW,
		A.PRODUCT_ONOFF,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE,
		C.PRODUCT_PRECAUTIONS_ID,
		C.PRODUCT_PRECAUTIONS_TITLE,
		C.PRODUCT_PRECAUTIONS_CONTENT,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME1,
		C.PRODUCT_PRECAUTIONS_CONTENT1,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME2,
		C.PRODUCT_PRECAUTIONS_CONTENT2,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME3,
		C.PRODUCT_PRECAUTIONS_CONTENT3,
		C.PRODUCT_PRECAUTIONS_ONOFF,
		D.REVIEW_BOARD_CONTENT,
        D.PRODUCT_PRODUCT_ID,
        D.REVIEW_BOARD_REG_DATE,
        D.REVIEW_BOARD_WRITER,
        F.MEMBER_ID AS REVIEW_BOARD_WRITER
		FROM PRODUCT A INNER JOIN
		PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		INNER JOIN 
		PRODUCT_PRECAUTIONS C ON (A.PRODUCT_ONOFF = C.PRODUCT_PRECAUTIONS_ONOFF)
		INNER JOIN
        REVIEW_BOARD D ON (A.PRODUCT_ID = D.PRODUCT_PRODUCT_ID)
        INNER JOIN
        MEMBER F ON (D.MEMBER_MEMBER_ID = F.MEMBER_ID)
        WHERE A.PRODUCT_ID=#{productId} AND A.PRODUCT_STATE != 3
	</select> 
  <select id="getreviewList" resultType="reviewBoardVO">
		SELECT A.REVIEW_BOARD_CONTENT,
		B.PRODUCT_ID,
        B.PRODUCT_STATE,
        C.MEMBER_ID,
		C.MEMBER_NAME AS REVIEW_BOARD_WRITER
        FROM REVIEW_BOARD A INNER
        JOIN PRODUCT B ON (A.PRODUCT_PRODUCT_ID = B.PRODUCT_ID) 
        INNER
        JOIN MEMBER C ON (A.MEMBER_MEMBER_ID = C.MEMBER_ID)
        WHERE  B.PRODUCT_ID=#{productProductId} AND B.PRODUCT_STATE != 3 AND C.MEMBER_ID=#{memberMemberId};
    </select>-->
	<select id="getproductDetailById" resultMap="productVO">
		SELECT A.PRODUCT_ID,
		A.PRODUCT_TITLE_NAME,
		A.PRODUCT_SUB_NAME,
		A.PRODUCT_PRICE,
		A.PRODUCT_NEW,
		A.PRODUCT_CONTENT,
		A.PRODUCT_ONOFF,
		B.PRODUCT_IMAGE_ID,
		B.PRODUCT_IMAGE_NAME,
		B.PRODUCT_IMAGE_EXTENTION,
		B.PRODUCT_IMAGE_ROUTE,	
		C.PRODUCT_PRECAUTIONS_ID,
		C.PRODUCT_PRECAUTIONS_TITLE,
		C.PRODUCT_PRECAUTIONS_CONTENT,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME1,
		C.PRODUCT_PRECAUTIONS_CONTENT1,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME2,
		C.PRODUCT_PRECAUTIONS_CONTENT2,
		C.PRODUCT_PRECAUTIONS_CONTENT_NAME3,
		C.PRODUCT_PRECAUTIONS_CONTENT3,	
		C.PRODUCT_PRECAUTIONS_ONOFF
		FROM PRODUCT A INNER JOIN
		PRODUCT_IMAGE B ON (A.PRODUCT_ID = B.PRODUCT_PRODUCT_ID)
		INNER JOIN
		PRODUCT_PRECAUTIONS C ON (A.PRODUCT_ONOFF = C.PRODUCT_PRECAUTIONS_ONOFF)
		WHERE A.PRODUCT_ID=#{productId} AND A.PRODUCT_STATE != 3;
	</select> 
	
	

</mapper>