<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.web.toosome.user.member.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.NoticeBoardVO" alias="noticeBoardVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.FaqBoardVO" alias="faqBoardVO"/>
		<typeAlias type="com.web.toosome.user.terms.vo.TermsVO" alias="termsVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.NewsBoardVO" alias="newsBoardVO"/>
	</typeAliases>
</configuration>