<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.web.toosome.user.member.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.web.toosome.user.member.vo.AuthVO" alias="authVO"/>
		
		<typeAlias type="com.web.toosome.user.board.vo.NoticeBoardVO" alias="noticeBoardVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.FaqBoardVO" alias="faqBoardVO"/>
		<typeAlias type="com.web.toosome.user.terms.vo.TermsVO" alias="termsVO"/>

		<typeAlias type="com.web.toosome.user.board.vo.QnaBoardVO" alias="qnaBoardVO"/>
		
		
		
		<typeAlias type="com.web.toosome.user.board.vo.NewsBoardVO" alias="newsBoardVO"/>
        <typeAlias type="com.web.toosome.user.board.vo.NewsBoardDetailVO" alias="newsBoardDetailVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.EventBoardVO" alias="eventBoardVO"/>
		<typeAlias type="com.web.toosome.user.board.vo.EventBoardDetailVO" alias="eventBoardDetailVO"/>
		
		
		<typeAlias type="com.web.toosome.user.menu.vo.MenuVO" alias="menuVO"/>
		<typeAlias type="com.web.toosome.user.menu.vo.MenuImageVO" alias="menuImageVO"/>
		<typeAlias type="com.web.toosome.user.menu.vo.IatVO" alias="iatVO"/>

		<!-- user.Product -->
		<typeAlias type="com.web.toosome.user.product.vo.ProductVO" alias="productVO"/>
		<typeAlias type="com.web.toosome.user.product.vo.ProductImageVO" alias="productImageVO"/>
		<typeAlias type="com.web.toosome.user.product.vo.ProductPrecautionsVO" alias="productPrecautionsVO"/>
		<typeAlias type="com.web.toosome.user.product.vo.ProductScoreVO" alias="productScoreVO"/>
		
		<typeAlias type="com.web.toosome.user.basket.vo.BasketVO" alias="basketVO"/>
		
		<typeAlias type="com.web.toosome.user.membership.vo.MembershipVO" alias="membershipVO"/>
		<typeAlias type="com.web.toosome.user.membership.vo.LevelVO" alias="levelVO"/>
		
		<typeAlias type="com.web.toosome.user.basket.vo.OrdersVO" alias="orderVO"/>
		<typeAlias type="com.web.toosome.user.basket.vo.OrdersDetailVO" alias="ordersDetailVO"/>

		<typeAlias type="com.web.toosome.admin.mainManagement.vo.DailyVO" alias="dailyVO"/>
		<typeAlias type="com.web.toosome.admin.mainManagement.vo.VisitorVO" alias="visitorVO"/>
		<typeAlias type="com.web.toosome.admin.memberManagement.vo.WithdrawVO" alias="withdrawVO"/>
		<typeAlias type="com.web.toosome.admin.settings.vo.BannerVO" alias="bannerVO"/>
	</typeAliases>
</configuration>