@charset "utf-8";

.member-container {
  margin: 150px auto;
  padding: 15px;
  box-sizing: border-box;
  max-width: 980px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 4px 5px #ccc;
  background: #fff;
}
.member-container .title-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.member-container .title-container .member-title {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: gsdr;
  color: #000;
}
.member-container .title-container .title-logo {
  display: flex;
  width: 600px;
  height: auto;
  margin: 0 auto;
}

.member-container .contents {
  margin-top: 50px;
}

.member-container .contents .membership-text {
  width: 90%;
  height: 220px;
  padding: 20px;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 20px;
  position: relative;
}
.member-container .contents .membership-text .mb-logo {
  width: 100px;
  height: 60px;
  float: left;
}
.member-container .contents .membership-text .mb-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.member-container .contents .membership-text .tit {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  color: #a62326;
  font-weight: bold;
  font-size: 30px;
}
.member-container .contents .membership-text .comment {
  float: none;
  position: absolute;
  font-size: 0.9375rem;
  bottom: 20px;
  color: #333;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}
.member-container .contents .membership-text .card {
  display: block;
  width: 300px;
  height: auto;
  float: right;
  margin-top: 50px;
}
.member-container .contents .membership-text a:active {
  box-shadow: none;
}
.member-container .contents .membership-text a:hover {
  text-decoration: underline;
}
.member-container .contents .member-text {
  width: 93%;
  margin: 50px auto;
  font-size: 1.125rem;
  color: #777;
  font-weight: bold;
}

.benefit {
  width: 95%;
  margin: 0 auto 50px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
}
.benefit .bene-list {
  display: flex;
  padding: 10px;
  border-bottom: 2px dashed #eee;
}
.benefit .bene-list:first-child {
  padding-top: 20px;
}
.benefit .bene-list:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}
.benefit .bene-list .img-box {
  display: flex;
  align-items: center;
}
.benefit .bene-list .benefit-contents {
  margin-left: 10px;
}
.benefit .bene-list .benefit-contents > li > strong {
  color: #a62326;
}
.benefit .bene-list .benefit-contents .true-contents {
  margin-top: 10px;
}
.benefit .bene-list .benefit-contents .true-contents li {
  list-style: disc;
  margin-left: 20px;
  font-size: 12px;
  color: #333;
}


.sign-form {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	border-radius: 20px;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sign-form .check-box-cover {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	width: 420px;
	position: relative;
	cursor: pointer;
}
.sign-form .check-box-cover #ck-box {
	position: absolute;
	right: 10px;
}
.sign-form .check-box-cover .check-box {
	width: 25px;
	height: 25px;
	background: url("../../../img/subpages/signin/check_off.png") no-repeat center /cover;
	position: absolute;
	right: 0px;
}
.sign-form .check-box-cover:hover .check-box {
	background: url("../../../img/subpages/signin/check_over.png") no-repeat center /cover;
}
.sign-form .check-box-cover .check-box.check {
	background: url("../../../img/subpages/signin/check_on.png") no-repeat center /cover;
}
.sign-form .check-box-cover span {
	font-family: gsdr;
	font-size: 1.5rem;
}

.sign-form .sign-box {
	margin-top: 100px;
}
.sign-form .sign-box #sign:disabled {
	display: block;
	background: #ccc;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 1.2rem;
	font-family: gsdr;
}
.sign-form .sign-box #sign:enabled {
	display: block;
	width: 400px;
	height: 50px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 1.2rem;
	font-family: gsdr;
	background: #a62326;
	color: white;
}
.sign-form .sign-box #sign:hover {
	text-decoration: underline;
}



