@charset "utf-8";
@font-face {
    font-family: gsdr;
    src: url(../../font/a고속도로.ttf) format('truetype');
}
/************************** brandfilm ***********************************/
.brandfilm-container {
    margin: 150px auto;
    padding: 15px;
    box-sizing: border-box;
    max-width: 980px;
    border: 1px solid #eee;
    border-radius: 7px;
    box-shadow: 0 2px 3px #eee;
}
.brandfilm-container .title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.brandfilm-container .title-container .brandfilm-title {
    margin-top: 50px;
    font-size: 1.5rem;
    font-family: gsdr;
    color: #000;
}
.brandfilm-container .title-container .title-logo {
    display: flex;
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/************************* content-box ***************************/

.brandfilm-container .contents-box {
    margin-top: 50px;
}
.brandfilm-container .contents-box .menu-btn {
    width: 70%;
    height: 60px;
    margin: 0 auto;
}
.brandfilm-container .contents-box .menu-btn .btn-tab {
    height: 100%;
}
.brandfilm-container .contents-box .menu-btn .btn-tab li {
    width: 33.33%;
    height: 100%;
    float: left;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-right: none;
}
.brandfilm-container .contents-box .menu-btn .btn-tab li.select {
    background-color: #A62326;
}
.brandfilm-container .contents-box .menu-btn .btn-tab li:last-child {
    border-right: 1px solid #eee;
}
.brandfilm-container .contents-box .menu-btn .btn-tab li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: gsdr;
    text-align: center;
    line-height: 55px;
}
.brandfilm-container .contents-box .menu-btn .btn-tab li.select a {
    color: #fff;
}

.brandfilm-container .contents-box .menu-contents {
    padding: 50px 5px 5px 5px;
}
.brandfilm-container .contents-box .menu-contents .menu-contents-box {
    display: none;
}
.brandfilm-container .contents-box .menu-contents .menu-contents-box:first-child {
    display: block;
}
.brandfilm-container .contents-box .menu-contents .you-box {

}
.brandfilm-container .contents-box .menu-contents .you-box article {
    height: 259px;
    display: none;
    justify-content: center;
}
.brandfilm-container .contents-box .menu-contents .you-box article:first-child {
    display: flex;
}
.brandfilm-container .contents-box .menu-contents .you-box article .youtube {
    display: flex;
    width: 460px;
    height: 259px;
}
.brandfilm-container .contents-box .menu-contents .you-box article .text {
    width: 203px;
    height: 219px;
    padding: 20px 10px 15px;
    margin-left: 20px;
    overflow-y: scroll;
    font-size: 11px;
    display: flex;
    border: 1px solid #eee;
}

.brandfilm-container .contents-box .menu-contents .you-thumb-box {
    margin-top: 50px;
    width: 100%;
}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li {
    width: 33.33%;
    float: left;
    height: 230px;
    /* background-color: tan; */
}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li a {
    display: block;
    width: 100%;
    height: 100%;

}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li a img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li a span {
    display: block;
    text-align: center;
    font-size: 13px;
}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li.box-select a img {
    border: 3px solid #A62326;
}
.brandfilm-container .contents-box .menu-contents .you-thumb-box li.box-select a span {
    color: #A62326;
    font-weight: bold;
}