@charset "utf-8";

/******************** imgSlide-start *******************/

#img-wrap .slide .img1 .img-title {
	width: 1000px;
	text-align: center;
	margin-top: 200px;
	margin-left: calc(50% - 500px);
}

#img-wrap .slide .img2 .img-title {
	width: 700px;
	height: 280px;
	margin-top: 250px;
	margin-left: 1000px;
}

#img-wrap .slide .img3 .img-title {
	width: 700px;
	height: 280px;
	text-align: center;
	margin-top: 300px;
	margin-left: 20px;	
}

#img-wrap .slide .img-title .img-content {
	color: white;
	font-family: gsdr;
	font-size: 5rem;
	z-index: 1000;
}

#img-wrap .slide .img-title .img-content small {
	font-size: 3.75rem;
}

#img-wrap .slide {
  width: 100%;
  height: 100vh;
  position: relative;
}
#img-wrap .slide .slide-imgs li {
  display: block;
  width: 100%;
  height: 100vh;
  background: no-repeat center /cover;
  
}
#img-wrap .slide .slide-imgs li.img1 {
	background-image: url("https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/main1.png");
}
#img-wrap .slide .slide-imgs li.img2 {
	background-image: url("https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/main2.png");
}
#img-wrap .slide .slide-imgs li.img3 {
	background-image: url("https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/main3.png");
}
#img-wrap .slide p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 80px;
  cursor: pointer;
}

#img-wrap .slide p.next_btn {
  right: 0%;
}
#img-wrap .slide p.prev_btn {
  left: 0%;
}
/******************** imgSlide-end *********************/

/******************** newMenu-start *********************/

#new-menu {
  width: 100%;
  height: 740px;
  padding-top: 240px;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/new1.png') no-repeat center / cover;
  background-attachment: fixed;
}
#new-menu .new-cover {
  width: 100%;
  height: 100%;
}
#new-menu .new-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px; 
  position: relative;
  background: rgba(105,105,105,0.7);
  height: 160px;
}
#new-menu .new {
  color: transparent;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
#new-menu .new-wrap::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #a62326;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

#new-menu .new-title {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
#new-menu .new-title strong {
  color: #e9ff88;
  font-size: 28px;
  border-radius: 10px;
  padding: 7px;
  background: rgba(206, 39, 39, 0.76);
}

#new-menu .new-wrap .new-more {
	position: absolute;
	box-sizing: border-box;
	width: 150px;
	height: 60px;
	top: calc(50% - 35px);
	right: 70px;
	background: transparent;
	border: 1px solid #fff;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1.25rem;
	font-weight: 100;
	text-align: center;
	line-height: 45px;
}

#new-menu .new-wrap .new-more:hover {
	text-decoration: underline;
}

#new-menu .img_box {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
#new-menu .img_box .new-menu-box {
  width: 100%;
  margin-top: 50px;
}
#new-menu .img_box .new-menu-box li a {
  width: 320px;
  height: 296px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
#new-menu .img_box .new-menu-box li a img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0% auto;
  box-shadow: 0 5px 5px rgba(80, 80, 80, 0.4);
  transition: all 0.1s ease-in;
}
#new-menu .img_box .new-menu-box li a:hover img {
  transform: scale(1.05);
  transition: all 0.6s;
}

#new-menu .img_box .new-menu-box .slick-prev {
  left: 0px !important;
}
#new-menu .img_box .new-menu-box .slick-next {
  right: 0px !important;
}
/******************** newMenu-end *********************/

/******************** section-start *********************/

.section {
  display: flex;
  width: auto;
  height: 100vh;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/bg_sns_01.png') no-repeat center / cover;
  background-attachment: fixed;
}
.section .quick-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.quick-menu-coffee {
  opacity: 0;
  transform: translateX(30%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  transition: all 1s;
  animation: fadeInRight 1s;
}

.quick-menu-beverage {
  opacity: 0;
  transform: translateX(-30%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s;
  animation: fadeInLeft 1s;
}

.active {
  transform: translateX(0);
  opacity: 1;
}

.section .quick-menu .coffee {
  width: 420px;
  height: 320px;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/coffee.png') no-repeat center / cover;
  margin-right: 100px;
  transition: all 1s;
  box-shadow: 0 4px 5px 2px rgb(172, 172, 172);
}
.section .quick-menu .beverage {
  width: 420px;
  height: 320px;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/beverage.png') no-repeat center / cover;
  margin-right: 100px;
  transition: all 1s;
  box-shadow: 0 4px 5px 2px rgb(172, 172, 172);
}
.section .quick-menu .coffee a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.4s;
  box-sizing: border-box;
}
.section .quick-menu .beverage a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.4s;
  box-sizing: border-box;
}
.section .quick-menu div .quick-title {
  position: relative;
  top: -50%;
  left: 30%;
  color: #fff;
  font-size: 20px;
  font-family: godic, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 9999;
}
.section .quick-menu .coffee:hover,
.section .quick-menu .beverage:hover {
  background-size: 425px;
}
.section .quick-menu .coffee:hover a,
.section .quick-menu .beverage:hover a {
  background-color: rgba(0, 0, 0, 0.5);
}
.section .quick-menu .coffee-ment {
  width: 400px;
}
.section .quick-menu .coffee-ment h3,
.section .quick-menu .beverage-ment h3 {
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 50px;
}
.section .quick-menu .coffee-ment p,
.section .quick-menu .beverage-ment p {
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #555;
}

.section .quick-menu .beverage-ment {
  width: 400px;
}

/******************** section-end *********************/

/******************** buttonLogo-start *********************/

.button-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  position: fixed;
  bottom: 30px;
  right: 15px;
  overflow: hidden;
  z-index: 3;
}
.button-logo .button-img {
  width: 90px;
  height: 90px;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/share/buttonlogo.png') no-repeat center / contain;
  transform: scale(0.8);
}
.button-logo a.offbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.6s;
}
.button-logo a.onbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  color: #fff;
  font-family: gsdr;
  font-size: 15px;
  text-align: center;
  line-height: 90px;
}
.button-logo a.offbutton .button-text {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: gsdr;
  font-size: 15px;
  text-align: center;
  transition: all 0.6s;
}
.button-logo a.offbutton:hover {
  background: rgba(0, 0, 0, 0.8);
}
.button-logo a.offbutton:hover .button-text {
  top: 50%;
}
.button-bar-block {
  width: 90px;
  height: 400px;
  position: fixed;
  bottom: 35px;
  right: 15px;
  z-index: 2;
  overflow: hidden;
  display: block;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.button-bar-block.click {
  display: block;
}
.button-bar-block .button-bar {
  width: 90px;
  height: 400px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding-top: 50px;
  background: #38383b;
  position: absolute;
  top: 100%;
  left: 0;
}
.button-bar-block .button-bar .online-icon {
  width: 90px;
  height: 250px;
}
.button-bar-block .button-bar .online-icon li {
  width: 100%;
  height: 50%;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.button-bar-block .button-bar .online-icon li:first-child {
  border-bottom: 1px solid #fff;
}
.button-bar-block .button-bar .online-icon li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.button-bar-block .button-bar .online-icon li a img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
  transition: all 0.6s;
}
.button-bar-block .button-bar .online-icon li:last-child a img {
  margin-top: 10px;
  width: 80%;
}
.button-bar-block .button-bar .online-icon li a span {
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: gsdr;
  font-size: 14px;
  bottom: 10px;
  text-align: center;
}
.button-bar-block .button-bar .online-icon li:hover a img {
  width: 100%;
}
.button-bar-block .button-bar .online-icon li:last-child:hover a img {
  width: 90%;
}
/******************** buttonLogo-end *********************/

/******************** map-start **************************/

.map {
  width: 100%;
  height: 500px;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/map.png') no-repeat center / cover;
  background-attachment: fixed;
  overflow: hidden;
}
.map .form-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
}
.map .form-cover form {
  width: 80%;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.map .form-cover form h1 {
  text-align: center;
  color: #fff;
  font-family: gsdr;
  font-size: 32px;
  margin-bottom: 25px;
}
.map .form-cover form fieldset {
  width: 100%;
  height: 100%;
  text-align: center;
}
.map .form-cover form fieldset legend {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.map .form-cover form fieldset input[type='search'] {
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translateY(-50%);
  width: 40%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.map .form-cover form fieldset input[type='submit'] {
  position: absolute;
  top: 80%;
  right: 25%;
  transform: translateY(-50%);
  width: 100px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: url('https://toosome.s3.ap-northeast-2.amazonaws.com/img/pages/main/search_g@3x.png') rgba(0, 0, 0, 1) no-repeat center /
    contain;
}

/******************** map-end **************************/

/* 반응형 start */


@media screen and (max-width: 1120px) {
	
	#img-wrap .slide {
	  height: 500px;
	}
	#img-wrap .slide .slide-imgs li {
	  height: 500px;
	}
	
	#new-menu {
	  height: auto;
	  padding: 100px 0;
	}
	
	.map .form-cover form fieldset input[type='search'] {
	  
	  top: 70%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	  width: 60%;
  	  font-size: 16px;
	}
	.map .form-cover form fieldset input[type='submit'] {
	  top: 100%;
	  left: 50%;
	  width: 100px;
	  transform: translate(-50%,-50%);
	}
	.button-logo {
	  display: none;
	}
}

@media screen and (max-width: 1000px) {
	.section {
	  display: block;
	  height: auto;
	  padding-top: 50px;
	}
	.section .quick-menu {
	  margin: 0 auto;
	}
	
	.quick-menu-coffee {
	  display: block;
	  margin-bottom: 50px;
	}
	
	.quick-menu-beverage {
	  display: block;
	  margin-bottom: 50px;
	}
	
	.section .quick-menu .coffee {
	  margin: 0 auto;
	}
	.section .quick-menu .beverage {
	  margin: 0 auto;
	}
	.section .quick-menu .coffee-ment {
	  padding-top: 30px;
	  text-align: center;
	}
	.section .quick-menu .beverage-ment {
	  padding-top: 30px;
	  text-align: center;
	}
	.section .quick-menu .coffee-ment h3,
	.section .quick-menu .beverage-ment h3 {
	  margin-bottom: 30px;
	}
}

@media screen and (max-width: 770px) {}




