<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.admin.boardManagement.dao.IQnaAdminMapper">

	<!-- QNA board -->
	<resultMap type="qnaBoardVO" id="QnaBoardMap">
		<id property="qnaBoardId" column="QNA_BOARD_ID"/>
		<result property="memberMemberId" column="MEMBER_MEMBER_ID" />
		<result property="qnaBoardType" column="QNA_BOARD_TYPE" />
	 	<result property="qnaBoardTitle" column="QNA_BOARD_TITLE" /> 
		<result property="qnaBoardContent" column="QNA_BOARD_CONTENT" />
		<result property="qnaBoardRegdate" column="QNA_BOARD_REG_DATE" />
		<result property="qnaBoardViewCount" column="QNA_BOARD_VIEW_COUNT" />	
		<result property="qnaBoardPassword" column="QNA_BOARD_PASSWORD" />		
		<result property="qnaBoardImageName" column="QNA_BOARD_IMAGE_NAME" />
		<result property="qnaBoardSecret" column="QNA_BOARD_SECRET" />
		<collection property="qnaBoardComment" resultMap="QnaBoardCommentMap" />
		<collection property="member" resultMap="memberMap" />
	</resultMap>
	
	<!-- QNA board Comment -->
	<resultMap type="qnaBoardCommentVO" id="QnaBoardCommentMap">
		<id property="qnaBoardCommentId" column="QNA_BOARD_COMMENT_ID"/>
		<result property="qnaQnaBoardId" column="QNA_QNA_BOARD_ID" />
		<result property="memberMemberCommentId" column="MEMBER_MEMBER_COMMENT_ID" />
		<result property="qnaBoardCommentTitle" column="QNA_BOARD_COMMENT_TITLE" />
		<result property="qnaBoardCommentContent" column="QNA_BOARD_COMMENT_CONTENT" />
	 	<result property="qnaBoardCommentDay" column="QNA_BOARD_COMMENT_DAY" /> 
	 	<result property="qnaCommentWriter" column="QNA_COMMENT_WRITER" />
	</resultMap>
	
	<resultMap type="memberVO" id="memberMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPassword" column="MEMBER_PASSWORD"/>
		<result property="memberBirth" column="MEMBER_BIRTH"/>
		<result property="memberPhone" column="MEMBER_PHONE"/>
		<result property="memberPostcode" column="MEMBER_POSTCODE"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="platFormType" column="MEMBER_PLATFORM_TYPE"/>
		<result property="regDate" column="MEMBER_REG_DATE"/>
		<result property="status" column="MEMBER_STATUS"/>
		<result property="lastLoginDate" column="MEMBER_LAST_LOGIN_DATE"/>
		<result property="memberRePassword" column="MEMBER_REPASSWORD"/>
		<collection property="authList" resultMap="authMap" />
	</resultMap>
		
	<resultMap type="authVO" id="authMap">
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberAuth" column="MEMBER_AUTH" />
	</resultMap>
	
	<sql id ="search">
		WHERE 1=1
		<if test="condition == 'title'">
			AND QNA_BOARD_TITLE LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="condition == 'content'">
			AND QNA_BOARD_CONTENT LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="startRegDate != null and startRegDate != ''">
			AND QNA_BOARD_REG_DATE BETWEEN DATE(#{startRegDate}) AND DATE(#{endRegDate})+1 
		</if>
		<if test="keyword != null">
			ORDER BY QNA_BOARD_ID DESC
		</if>
		
	</sql>
	
	
	
	<select id="qnaBoardList" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD ORDER BY QNA_BOARD_ID DESC
	</select>
	
	<select id="qnaBoardDetail" resultMap="QnaBoardMap">
		SELECT A.QNA_BOARD_ID, A.MEMBER_MEMBER_ID, A.QNA_BOARD_TYPE, A.QNA_BOARD_TITLE,
		A.QNA_BOARD_CONTENT, A.QNA_BOARD_REG_DATE, A.QNA_BOARD_VIEW_COUNT, A.QNA_BOARD_PASSWORD, 
		A.QNA_BOARD_IMAGE_NAME, A.QNA_BOARD_SECRET,
		B.QNA_BOARD_COMMENT_ID, B.QNA_QNA_BOARD_ID, B.MEMBER_MEMBER_COMMENT_ID, B.QNA_BOARD_COMMENT_TITLE, B.QNA_BOARD_COMMENT_CONTENT, B.QNA_BOARD_COMMENT_DAY, 
		C.MEMBER_NAME 
		FROM QNA_BOARD A
		LEFT OUTER JOIN QNA_BOARD_COMMENT B
		ON(A.QNA_BOARD_ID = B.QNA_QNA_BOARD_ID)
		JOIN MEMBER C
		ON(A.MEMBER_MEMBER_ID = C.MEMBER_ID)
		WHERE QNA_BOARD_ID = #{qnaBoardId}	
	</select>
	
	
	<select id="searchQna" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD
		 <include refid="search"/>
	</select>
	
	<select id="selectFile" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD WHERE QNA_BOARD_ID = #{id}
	</select>
	
	<select id="selectQnaComment" resultMap="QnaBoardCommentMap">
		SELECT * FROM QNA_BOARD_COMMENT WHERE QNA_QNA_BOARD_ID = #{qnaQnaBoardId}
	</select>
	
	<delete id="deleteQnaComment">
		DELETE FROM QNA_BOARD_COMMENT WHERE QNA_QNA_BOARD_ID = #{id}
	</delete>
			
	<delete id="deleteQna">
		DELETE FROM QNA_BOARD WHERE QNA_BOARD_ID = #{id}
	</delete>
	
	<insert id="insertQnaComment">
		INSERT INTO QNA_BOARD_COMMENT(QNA_BOARD_COMMENT_ID, QNA_QNA_BOARD_ID, 
		MEMBER_MEMBER_COMMENT_ID, QNA_BOARD_COMMENT_TITLE, QNA_BOARD_COMMENT_CONTENT, 
		QNA_BOARD_COMMENT_DAY, QNA_COMMENT_WRITER) VALUES(#{qnaBoardCommentId}, #{qnaQnaBoardId}, 
		#{memberMemberCommentId}, #{qnaBoardCommentTitle}, #{qnaBoardCommentContent}, 
		NOW(), #{qnaCommentWriter}) 
	</insert>
	 
	<update id="updateQnaComment">
	 UPDATE QNA_BOARD_COMMENT SET 
	 QNA_BOARD_COMMENT_TITLE = #{qnaBoardCommentTitle}, 
	 QNA_BOARD_COMMENT_CONTENT = #{qnaBoardCommentContent}
	 WHERE QNA_BOARD_COMMENT_ID = #{qnaBoardCommentId}
	</update>
	
	
	<delete id="delQnaComment">
	DELETE FROM QNA_BOARD_COMMENT WHERE QNA_BOARD_COMMENT_ID = #{qnaBoardCommentId}
	</delete>
	<!-- 
	<insert id="insertQna">
		INSERT INTO QNA_BOARD(QNA_BOARD_ID, MEMBER_MEMBER_ID, QNA_BOARD_TYPE, 
		QNA_BOARD_TITLE, QNA_BOARD_CONTENT, QNA_BOARD_REG_DATE, QNA_BOARD_VIEW_COUNT, 
		QNA_BOARD_PASSWORD, QNA_BOARD_IMAGE_NAME, QNA_BOARD_SECRET) 
		VALUES(#{qnaBoardId}, #{memberMemberId}, #{qnaBoardType},
		#{qnaBoardTitle}, #{qnaBoardContent}, NOW(), 0, #{qnaBoardPassword}, 
		#{qnaBoardImageName}, #{qnaBoardSecret})
	</insert> -->
	<delete id="delQnaCommentId">
		DELETE FROM QNA_BOARD_COMMENT WHERE QNA_BOARD_COMMENT_ID = #{id}
	</delete>
	
</mapper>