<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.board.dao.IBoardNoticeMapper">

	<resultMap type="noticeBoardVO" id="NoticeBoardMap">
		<id property="noticeBoardId" column="NOTICE_BOARD_ID"/>
		<result property="noticeBoardTitle" column="NOTICE_BOARD_TITLE"/>
		<result property="noticeBoardContent" column="NOTICE_BOARD_CONTENT"/>
	 	<result property="noticeBoardView" column="NOTICE_BOARD_VIEW_COUNT"/> 
		<result property="noticeBoardRegdate" column="NOTICE_BOARD_REG_DATE"/>
	
	</resultMap>
	
	<select id="getNoticeBoardList" resultMap="NoticeBoardMap">
		SELECT NOTICE_BOARD_ID, NOTICE_BOARD_TITLE, NOTICE_BOARD_REG_DATE, NOTICE_BOARD_VIEW_COUNT FROM NOTICE_BOARD
	</select>
	
<!--  <insert id="insertNoticeBoard" resultMap="NoticeBoardMap">
		INSERT INTO NOTICE_BOARD VAULES(#{noticeBoardId}, #{noticeBoardTitle}, #{noticeBoardContent}, #{noticeBoardView}, #{noticeBoardRegdate})
	
	</insert> -->


	
</mapper>