<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.board.dao.IBoardNoticeMapper">

	<resultMap type="noticeBoardVO" id="NoticeBoardMap">
		<id property="noticeBoardId" column="NOTICE_BOARD_ID"/>
		<result property="noticeBoardTitle" column="NOTICE_BOARD_TITLE"/>
		<result property="noticeBoardContent" column="NOTICE_BOARD_CONTENT"/>
	 	<result property="noticeBoardViewCount" column="NOTICE_BOARD_VIEW_COUNT"/> 
		<result property="noticeBoardRegdate" column="NOTICE_BOARD_REG_DATE"/>
	
	</resultMap>
	
	<select id="getSearchNotice" resultMap="NoticeBoardMap">
		SELECT NOTICE_BOARD_ID, NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, NOTICE_BOARD_REG_DATE, NOTICE_BOARD_VIEW_COUNT FROM NOTICE_BOARD WHERE NOTICE_BOARD_TITLE LIKE CONCAT('%',#{keyword},'%')
	
	</select>

	
	
	<select id="getNoticeBoardList" resultMap="NoticeBoardMap">
		SELECT NOTICE_BOARD_ID, NOTICE_BOARD_TITLE, NOTICE_BOARD_CONTENT, NOTICE_BOARD_REG_DATE, NOTICE_BOARD_VIEW_COUNT FROM NOTICE_BOARD;
		
	</select>
	
<!--  <insert id="insertNoticeBoard" resultMap="NoticeBoardMap">
		INSERT INTO NOTICE_BOARD VAULES(#{noticeBoardId}, #{noticeBoardTitle}, #{noticeBoardContent}, #{noticeBoardView}, #{noticeBoardRegdate})
	
	</insert> -->
	<select id="getNoticeBoard" resultMap="NoticeBoardMap">
		
		
		<![CDATA[ SELECT * FROM NOTICE_BOARD WHERE NOTICE_BOARD_ID >= #{index}-1 AND NOTICE_BOARD_ID <= #{index}+1 ]]>
	<!--   SELECT * FROM NOTICE_BOARD WHERE NOTICE_BOARD_ID = 1; -->
	</select>
	
	<update id="NoticeBoardCount" parameterType="noticeBoardVO">
	UPDATE NOTICE_BORAD SET NOTICE_BOARD_COUNT = #{noticeBoardViewCount}+1 WHERE NOTICE_BOARD_ID = #{index};
	</update>
	<!--  <update id="updateNoticeBoard" parameterType="hashMap">
		UPDATE NOTICE_BOARD SET NOTICE_BOARD_TITLE = #{}, NOTICE_BOARD_COUTENT = #{}, NOTICE_BOARD_REG_DATE = #{} WHERE NOTICE_BOARD_ID = #{noticeBoardId}
	</update> -->
<!--  
	<delete id="deleteNoticeBoard" parameterType="">
		DELETE FROM NOTICE_BOARD WHERE NOTICE_BOARD_ID = #{noticeBoardId}	
	</delete>
-->
	
</mapper>