<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.toosome.user.board.dao.IQnaBoardMapper">

	<!-- QNA board -->
	<resultMap type="qnaBoardVO" id="QnaBoardMap">
		<id property="qnaBoardId" column="QNA_BOARD_ID"/>
		<result property="memberMemberId" column="MEMBER_MEMBER_ID" />
		<result property="qnaBoardType" column="QNA_BOARD_TYPE" />
	 	<result property="qnaBoardTitle" column="QNA_BOARD_TITLE" /> 
		<result property="qnaBoardContent" column="QNA_BOARD_CONTENT" />
		<result property="qnaBoardRegdate" column="QNA_BOARD_REG_DATE" />
		<result property="qnaBoardViewCount" column="QNA_BOARD_VIEW_COUNT" />	
		<result property="qnaBoardPassword" column="QNA_BOARD_PASSWORD" />		
		<result property="qnaBoardImageName" column="QNA_BOARD_IMAGE_NAME" />
		<result property="qnaBoardSecret" column="QNA_BOARD_SECRET" />
		<collection property="qnaBoardComment" resultMap="QnaBoardCommentMap" />
	</resultMap>
	
	<!-- QNA board Comment -->
	<resultMap type="qnaBoardCommentVO" id="QnaBoardCommentMap">
		<id property="qnaBoardCommentId" column="QNA_BOARD_COMMENT_ID"/>
		<result property="qnaQnaBoardId" column="QNA_QNA_BOARD_ID" />
		<result property="memberMemberCommentId" column="MEMBER_MEMBER_COMMENT_ID" />
		<result property="qnaBoardCommentTitle" column="QNA_BOARD_COMMENT_TITLE" />
		<result property="qnaBoardCommentContent" column="QNA_BOARD_COMMENT_CONTENT" />
	 	<result property="qnaBoardCommentDay" column="QNA_BOARD_COMMENT_DAY" /> 
	 	
	</resultMap>
	
	
	<select id="getQnaBoardList" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD ORDER BY QNA_BOARD_ID DESC;
	</select>
	
	<select id="getQnaZeroComment" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD WHERE QNA_BOARD_ID = #{index} 	
	</select>
	
	<select id="getQnaBoardDetail" resultMap="QnaBoardMap">
		<![CDATA[ SELECT A.QNA_BOARD_ID, A.MEMBER_MEMBER_ID, A.QNA_BOARD_TYPE, A.QNA_BOARD_TITLE,
		A.QNA_BOARD_CONTENT, A.QNA_BOARD_REG_DATE, A.QNA_BOARD_VIEW_COUNT, A.QNA_BOARD_PASSWORD, 
		A.QNA_BOARD_IMAGE_NAME, A.QNA_BOARD_SECRET,
		B.QNA_BOARD_COMMENT_ID, B.QNA_QNA_BOARD_ID, B.MEMBER_MEMBER_COMMENT_ID, B.QNA_BOARD_COMMENT_TITLE, B.QNA_BOARD_COMMENT_CONTENT, B.QNA_BOARD_COMMENT_DAY 
		FROM QNA_BOARD A
		LEFT OUTER JOIN QNA_BOARD_COMMENT B
		ON(A.QNA_BOARD_ID = B.QNA_QNA_BOARD_ID)
		WHERE QNA_BOARD_ID = #{index}  ]]>
	</select>
	
	<insert id="insertQnaBoard">
	INSERT INTO QNA_BOARD(QNA_BOARD_ID, MEMBER_MEMBER_ID, QNA_BOARD_TYPE, QNA_BOARD_TITLE, QNA_BOARD_CONTENT,
	 	QNA_BOARD_REG_DATE, QNA_BOARD_VIEW_COUNT, QNA_BOARD_PASSWORD, 		  
	 	QNA_BOARD_IMAGE_NAME, QNA_BOARD_SECRET) 
	 	VALUES (#{qnaBoardId}, #{memberMemberId}, #{qnaBoardType}, #{qnaBoardTitle}, #{qnaBoardContent}, #{qnaBoardRegdate}, 0, #{qnaBoardPassword}, #{qnaBoardImageName}, #{qnaBoardSecret});
	</insert>
	<insert id="insertQnaBoardText">
	INSERT INTO QNA_BOARD(QNA_BOARD_ID, MEMBER_MEMBER_ID, QNA_BOARD_TYPE, QNA_BOARD_TITLE, QNA_BOARD_CONTENT,
	 	QNA_BOARD_REG_DATE, QNA_BOARD_VIEW_COUNT, QNA_BOARD_PASSWORD, 		  
	 	QNA_BOARD_IMAGE_NAME, QNA_BOARD_SECRET) 
	 	VALUES (#{qnaBoardId}, #{memberMemberId}, #{qnaBoardType}, #{qnaBoardTitle}, #{qnaBoardContent}, #{qnaBoardRegdate}, 0, #{qnaBoardPassword}, '' , #{qnaBoardSecret});
	</insert>
	
	
	<select id="passwordQnaBoard" resultMap="QnaBoardMap">
		<![CDATA[ SELECT QNA_BOARD_PASSWORD, QNA_BOARD_SECRET FROM QNA_BOARD WHERE QNA_BOARD_ID = #{index}  ]]>
	</select>
	
	<select id="getSearchQnaBoard" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD WHERE QNA_BOARD_TITLE LIKE CONCAT('%',#{keyword},'%');		
	</select>
	
	
	
	<update id="qnaBoardCount">
		<![CDATA[ UPDATE QNA_BOARD SET QNA_BOARD_VIEW_COUNT = IFNULL(QNA_BOARD_VIEW_COUNT,0)+1 WHERE QNA_BOARD_ID = #{index} ]]>
	</update>
	
	<delete id="delQna">
		DELETE FROM QNA_BOARD WHERE MEMBER_MEMBER_ID = #{id}
	</delete>
	
	<select id="getNewQnaList" resultMap="QnaBoardMap">
		SELECT * FROM QNA_BOARD ORDER BY QNA_BOARD_REG_DATE DESC LIMIT 0, 5;
	</select>
</mapper>